{% extends "common/base.html" %}
{% load i18n %}
{% load profile_header %}

{% block head %}
    <style>
        .panel-info h5 a {
            color: #333;
        }

        .panel-info > .panel-heading {
            color: #3A505B;
            background-image: linear-gradient(to bottom, #E6F1F6 0%, #E6F1F6 100%);
            background-color: #E6F1F6;
            padding: 5px 13px;
            line-height: 1.1;
            font-size: 13px;
        }

        .list-group {
            background-color: #F7FBFC;
        }

        .list-group-item {
            background: inherit;
        }

        .list-group-item:nth-child(2n+1) {
            background-color: #FFF;
        }

        .list-group-item:hover {
            background-color: #FCFCE2;
        }

        .text-muted {
            font-size: 12px;
        }

        h5 {
            font-weight: bold;
            margin: 7px 0;
        }

        .nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Your profile" %}{% endblock %}

{% block content %}
    {% include "users/profile_header.html" with your_profile=True student=user %}
    {% profile_header %}

    <div class="ui tabular menu">
        <div class="active item">{% trans "Profile data" %}</div>
        {% if perms.common.view_authentication_profile_purchased %}
            <a href="{% url 'authentication.views.purchased' %}" class="item">{% trans "Purchased books" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Purchased books" %}</div>
        {% endif %}
        {% if perms.common.view_authentication_profile_sold %}
            <a href="{% url 'authentication.views.sold' %}" class="item">{% trans "Sold books" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Sold books" %}</div>
        {% endif %}
    </div>

    <form class="ui form" enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% include "common/default_form.html" %}
        {% csrf_token %}
        <button class="ui primary icon labeled button right floated" type="submit">
            <i class="icon checkmark"></i>{% trans "Save" %}
        </button>
    </form>
{% endblock %}
