{% extends "common/base.html" %}
{% load i18n %}
{% load profile_header %}

{% block title %}{% trans "Your profile" %}{% endblock %}

{% block content %}
    {% include "users/profile_header.html" with your_profile=True student=user %}
    {% profile_header %}

    <div class="ui tabular menu">
        <div class="active item">{% trans "Profile data" %}</div>
        {% if perms.common.view_authentication_profile_purchased %}
            <a href="{% url 'authentication.views.purchased' %}" class="item">{% trans "Purchased books" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Purchased books" %}</div>
        {% endif %}
        {% if perms.common.view_authentication_profile_sold %}
            <a href="{% url 'authentication.views.sold' %}" class="item">{% trans "Sold books" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Sold books" %}</div>
        {% endif %}
    </div>

    <form class="ui form" enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% include "common/default_form.html" %}
        {% csrf_token %}
        <button class="ui primary icon labeled button right floated" type="submit">
            <i class="icon checkmark"></i>{% trans "Save" %}
        </button>
    </form>
{% endblock %}
