{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Register new account" %}{% endblock %}

{% block content %}
    <h1>{% trans "Register new account" %}</h1>

    <div class="ui info message">
        {% trans "In order to be able to sell and purchase books, you need to have a verified account. If you want your account to be verified, you have to upload scan of <strong>any identity card</strong> (it does not have to have a photo of you) and <strong>a confirmation that you are student or graduate</strong> of this school. An example of valid scan is front side of your school ID." %}
    </div>

    <form class="ui form" enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% include "common/default_form.html" %}
        {% if tos_url %}
            <div id="terms-of-service-notice">
                {% blocktrans %}By clicking the "Register" button below, you are agreeing to the <a href="{{ tos_url }}">Terms of Service</a>.{% endblocktrans %}
            </div>
        {% endif %}
        {% csrf_token %}
        <button class="ui icon labeled primary button right floated" type="submit">
            <i class="icon plus"></i>{% trans "Register" %}
        </button>
    </form>
{% endblock %}
