{% extends "common/base.html" %}
{% load i18n %}
{% load profile_header %}
{% load price %}

{% block title %}{% trans "Sold books" %}{% endblock %}

{% block content %}
    {% include "users/profile_header.html" with your_profile=True student=user %}
    {% profile_header "sold" %}

    <div class="ui tabular menu">
        {% if perms.common.view_authentication_profile %}
            <a href="{% url 'authentication.views.profile' %}" class="item">{% trans "Profile data" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Profile data" %}</div>
        {% endif %}
        {% if perms.common.view_authentication_profile_purchased %}
            <a href="{% url 'authentication.views.purchased' %}" class="item">{% trans "Purchased books" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Purchased books" %}</div>
        {% endif %}
        <div class="active item">{% trans "Sold books" %}</div>
    </div>

    {% include "users/sold_list.html" with student=user %}
{% endblock %}
