{% extends "common/base.html" %}
{% load i18n %}

{% block head %}
    <style>
        /* Menu */
        ul.manage-menu, ul.manage-menu > li > ul {
            list-style: none;
            padding: 0;
        }

        ul.manage-menu a {
            color: #333;
        }

        ul.manage-menu > li {
            border: 1px #ddd solid;
            border-bottom-width: 0;
            padding: 10px;
            height: 100px;

            position: relative;
        }

        ul.manage-menu > li:last-child {
            border-bottom-width: 1px;
        }

        ul.manage-menu > li:hover {
            background-color: #f5f5f5;
        }

        ul.manage-menu > li > a > .glyphicon {
            font-size: 76px;
            float: left;
        }

        ul.manage-menu > li > a > h4 {
            display: inline-block;
            margin-left: 20px;
        }

        ul.manage-menu > li > a > h4:hover {
            text-decoration: underline;
        }

        /* Submenus */
        ul.manage-menu > li > ul {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 100px;
            padding: 8px;

            border-color: #ddd;
            border-style: solid;
            border-width: 1px 0 0 1px;
        }

        ul.manage-menu > li > ul > li {
            display: inline;
        }

        ul.manage-menu > li > ul > li:after {
            content: "\00a0\00a0\00a0•\00a0\00a0\00a0";
        }

        ul.manage-menu > li > ul > li:last-child:after {
            content: none;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Manage" %}{% endblock %}

{% block content %}
    <h1>{% trans "Manage" %}</h1>
    {% load manage_header %}
    {% manage_header %}

    <ul class="manage-menu">
        {% if perms.common.view_orders_index %}
            <li>
                <a href="{% url 'orders.views.index' %}">
                    <span class="glyphicon glyphicon-shopping-cart"></span> <h4>{% trans "Orders" %}</h4>
                </a>

                {% if perms.common.view_orders_not_fulfilled or perms.common.view_orders_fulfilled %}
                    <ul>
                        {% if perms.common.view_orders_not_fulfilled %}
                            <li><a href="{% url 'orders.views.not_fulfilled' %}">{% trans "Not fulfilled" %}</a></li>
                        {% endif %}

                        {% if perms.common.view_orders_fulfilled %}
                            <li><a href="{% url 'orders.views.fulfilled' %}">{% trans "Fulfilled" %}</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}

        {% if perms.common.view_sellers_index %}
            <li>
                <a href="{% url 'sellers.views.index' %}">
                    <span class="glyphicon glyphicon-check"></span> <h4>{% trans "Sellers with unaccepted books" %}</h4>
                </a>
            </li>
        {% endif %}

{#        {% if perms.common.view_users_index %}#}
            <li>
                <a href="{% url 'users.views.index' %}">
                    <span class="glyphicon glyphicon-user"></span> <h4>{% trans "Users" %}</h4>
                </a>

                {% if perms.common.view_stats_books_sold or perms.common.view_books_users or perms.common.view_books_books %}
                    <ul>
                        {% if perms.common.view_stats_books_sold %}
                            <li><a href="{% url 'users.views.verified' %}">{% trans "Verified" %}</a></li>
                        {% endif %}

                        {% if perms.common.view_stats_books %}
{#                            <li><a href="{% url 'users.views.unverified' %}">{% trans "Unverified" %}</a></li>#}
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
{#        {% endif %}#}

        {% if perms.common.view_stats_index %}
            <li>
                <a href="{% url 'stats.views.index' %}">
                    <span class="glyphicon glyphicon-stats"></span> <h4>{% trans "Statistics" %}</h4>
                </a>

                {% if perms.common.view_stats_books_sold or perms.common.view_books_users or perms.common.view_books_books %}
                    <ul>
                        {% if perms.common.view_stats_books_sold %}
                            <li><a href="{% url 'stats.views.books_sold' %}">{% trans "Books sold" %}</a></li>
                        {% endif %}

                        {% if perms.common.view_stats_books %}
                            <li><a href="{% url 'stats.views.books' %}">{% trans "Books" %}</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}

        {% if perms.common.view_books_index %}
            <li>
                <a href="{% url 'books.views.index' %}">
                    <span class="glyphicon glyphicon-book"></span> <h4>{% trans "Books" %}</h4>
                </a>

                {% if perms.common.view_books_add_book %}
                    <ul>
                        {% if perms.common.view_books_add_book %}
                            <li><a href="{% url 'books.views.add_book' %}">{% trans "Add new" %}</a></li>
                            <li><a href="{% url 'books.views.duplicated' %}">{% trans "Duplicated" %}</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}

        {% if perms.common.view_categories_index %}
            <li>
                <a href="{% url 'categories.views.index' %}">
                    <span class="glyphicon glyphicon-tag"></span> <h4>{% trans "Categories" %}</h4>
                </a>
                {% if perms.common.view_categories_add_category %}
                    <ul>
                        {% if perms.common.view_categories_add_category %}
                            <li><a href="{% url 'categories.views.add_category' %}">{% trans "Add new" %}</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}

        {% if perms.common.view_settings_index %}
            <li>
                <a href="{% url 'settings.views.index' %}">
                    <span class="glyphicon glyphicon-wrench"></span> <h4>{% trans "Settings" %}</h4>
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
