{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Manage" %}{% endblock %}

{% block content %}
    <h1>{% trans "Manage" %}</h1>
    {% load manage_header %}
    {% manage_header %}

    <div class="ui divided items managemenu">
        {% if perms.common.view_orders_not_fulfilled or perms.common.view_orders_fulfilled %}
            <div class="item">
                <div class="ui tiny image">
                    <a href="{% url 'orders.views.index' %}"><i class="shop icon"></i></a>
                </div>
                <div class="middle aligned content">
                    <a href="{% url 'orders.views.index' %}">
                        <h4 class="header">{% trans "Orders" %}</h4>
                    </a>
                    <div class="extra">
                        <ul>
                            {% if perms.common.view_orders_not_fulfilled %}
                                <li><a href="{% url 'orders.views.not_fulfilled' %}">{% trans "Not fulfilled" %}</a></li>
                            {% endif %}

                            {% if perms.common.view_orders_fulfilled %}
                                <li><a href="{% url 'orders.views.fulfilled' %}">{% trans "Fulfilled" %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if perms.common.view_sellers_index %}
            <div class="item">
                <div class="ui tiny image">
                    <a href="{% url 'sellers.views.index' %}"><i class="check square icon"></i></a>
                </div>
                <div class="middle aligned content">
                    <a href="{% url 'sellers.views.index' %}">
                        <h4 class="header">{% trans "Sellers with unaccepted books" %}</h4>
                    </a>
                </div>
            </div>
        {% endif %}

        {% if perms.common.view_users_index %}
            <div class="item">
                <div class="ui tiny image">
                    <a href="{% url 'users.views.index' %}"><i class="user icon"></i></a>
                </div>
                <div class="middle aligned content">
                    <a href="{% url 'users.views.index' %}">
                        <h4 class="header">{% trans "Users" %}</h4>
                    </a>
                    <div class="extra">
                        <ul>
                            {% if perms.common.view_users_verified %}
                                <li><a href="{% url 'users.views.verified' %}">{% trans "Verified" %}</a></li>
                            {% endif %}

                            {% if perms.common.view_users_unverified %}
                                <li><a href="{% url 'users.views.unverified' %}">{% trans "Unverified" %}</a></li>
                            {% endif %}

                            {% if perms.common.view_users_needing_data_correction %}
                                <li><a href="{% url 'users.views.needing_data_correction' %}">{% trans "Needing data correction" %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if perms.common.view_stats_index %}
            <div class="item">
                <div class="ui tiny image">
                    <a href="{% url 'stats.views.index' %}"><i class="line chart icon"></i></a>
                </div>
                <div class="middle aligned content">
                    <a href="{% url 'stats.views.index' %}">
                        <h4 class="header">{% trans "Statistics" %}</h4>
                    </a>
                    <div class="extra">
                        {% if perms.common.view_stats_books_sold or perms.common.view_books_users or perms.common.view_books_books %}
                            <ul>
                                {% if perms.common.view_stats_books_sold %}
                                    <li><a href="{% url 'stats.views.books_sold' %}">{% trans "Books sold" %}</a></li>
                                {% endif %}

                                {% if perms.common.view_stats_books %}
                                    <li><a href="{% url 'stats.views.books' %}">{% trans "Books" %}</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if perms.common.view_books_index %}
            <div class="item">
                <div class="ui tiny image">
                    <a href="{% url 'books.views.index' %}"><i class="book icon"></i></a>
                </div>
                <div class="middle aligned content">
                    <a href="{% url 'books.views.index' %}">
                        <h4 class="header">{% trans "Books" %}</h4>
                    </a>
                    <div class="extra">
                        {% if perms.common.view_books_add_book or perms.common.view_books_duplicated %}
                            <ul>
                                {% if perms.common.view_books_add_book %}
                                    <li><a href="{% url 'books.views.add_book' %}">{% trans "Add new" %}</a></li>
                                {% endif %}
                                {% if perms.common.view_books_duplicated %}
                                    <li><a href="{% url 'books.views.duplicated' %}">{% trans "Duplicated" %}</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if perms.common.view_categories_index %}
            <div class="item">
                <div class="ui tiny image">
                    <a href="{% url 'categories.views.index' %}"><i class="tag icon"></i></a>
                </div>
                <div class="middle aligned content">
                    <a href="{% url 'categories.views.index' %}">
                        <h4 class="header">{% trans "Categories" %}</h4>
                    </a>
                    <div class="extra">
                        {% if perms.common.view_categories_add_category %}
                            <ul>
                                {% if perms.common.view_categories_add_category %}
                                    <li><a href="{% url 'categories.views.add_category' %}">{% trans "Add new" %}</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if perms.common.view_settings_index %}
            <div class="item">
                <div class="ui tiny image">
                    <a href="{% url 'settings.views.index' %}"><i class="settings icon"></i></a>
                </div>
                <div class="middle aligned content">
                    <a href="{% url 'settings.views.index' %}">
                        <h4 class="header">{% trans "Settings" %}</h4>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
