{% extends "books/book_list_base.html" %}
{% load i18n %}
{% load price %}

{% block thead_footer %}
    <th>{% trans "Amount" %}</th>
{% endblock %}

{% block book_price %}
    {% if not book.visible %}
        <div class="ui right labeled mini input">
            <input type="number" step="0.01" max="999.99" class="ui input" name="price-{{ book.pk }}" value="{{ book.price }}">
            <div class="ui label">{{ currency }}</div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block tr_footer %}
    <td>
        <div class="ui mini input">
            <input type="number" step="1" name="amount-{{ book.pk }}" value="{{ book.amount }}">
        </div>
    </td>
{% endblock %}

{% block actions %}
    {% if not book.visible and perms.common.view_sellers_accept_edit_book %}
        <a href="{% url 'sellers.views.accept_edit_book' student_pk book.pk %}">
            <i class="icon edit"></i>{% trans "Edit" %}
        </a>
    {% endif %}
{% endblock %}
