{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Sellers with unaccepted books - Accept books" %}{% endblock %}

{% block head %}
    <style>
        .input-group-addon, .input-group-btn {
            width: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% trans "Sellers with unaccepted books" %}
        <small>{% blocktrans %}Accept {{ user_name }}'s books{% endblocktrans %}</small>
    </h1>
    {% manage_header "sellers/accept_books" %}

    <div class="alert alert-info">{% trans "If you want to delete some book, just pass 0 as amount." %}</div>
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% include 'sellers/accept_book_list.html' %}

        {% if perms.common.view_sellers_index %}
            <a href="{% url 'sellers.views.index' %}" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
            </a>
        {% endif %}

        <button class="btn btn-primary pull-right" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans "Accept" %}
        </button>
    </form>
{% endblock %}