{% load i18n %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{% trans "ISBN" %}</th>
            <th>{% trans "Publisher" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Publication" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Amount" %}</th>
            {% if show_actions %}
                <th>{% trans "Actions" %}</th>
            {% endif %}
        </tr>
        </thead>

        {% for book in book_list %}
            <tr{% block tr_attributes %}{% endblock %}>
                {% block tr_header %}{% endblock %}
                <td>{{ book.book_type.isbn }}</td>
                <td>{{ book.book_type.publisher }}</td>
                <td>{{ book.book_type.title }}</td>
                <td>{{ book.book_type.publication_year }}</td>
                <td>
                    {% if not book.book_type.visible %}
                        <input type="number" step="0.01" max="999.99" class="form-control input-sm" name="price-{{ book.book_type.pk }}" value="{{ book.book_type.price }}">
                    {% else %}
                        {{ book.book_type.price_string }}
                {% endif %}
                </td>
                <td>
                    {% if not book.accepted %}
                        <input type="number" step="1" class="form-control input-sm" name="amount-{{ book.book_type.pk }}" value="{{ book.amount }}">
                    {% else %}
                        {{ book.amount }}
                    {% endif %}
                </td>
                {% if show_actions %}
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            {% if not book.book_type.visible %}
                                <a href="{% url 'sellers.views.accept_edit_book' student_pk book.book_type.pk %}" class="btn btn-xs btn-link" role="button">
                                    <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        {% block footer %}{% endblock %}
    </table>
</div>