{% extends "books/book_list_base.html" %}
{% load i18n %}
{% load price %}

{% block thead_footer %}
    <th>{% trans "Amount" %}</th>
{% endblock %}

{% block book_price %}
    {% if not book.visible %}
        <div class="input-group input-group-sm">
            <input type="number" step="0.01" max="999.99" class="form-control" name="price-{{ book.pk }}"
                   value="{{ book.price }}">
            <span class="input-group-addon">{{ currency }}</span>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block tr_footer %}
    <td>
        <input type="number" step="1" class="form-control input-sm" name="amount-{{ book.pk }}"
               value="{{ book.amount }}">
    </td>
{% endblock %}

{% block actions %}
    {% if not book.visible %}
        <a href="{% url 'sellers.views.accept_edit_book' student_pk book.pk %}" class="btn btn-xs btn-link"
           role="button">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
        </a>
    {% endif %}
{% endblock %}