{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Sellers with unaccepted books" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sellers with unaccepted books" %}</h1>
    {% manage_header "sellers" %}

    {% if seller_list %}
        <form action="{% url 'sellers.views.bulk_actions' 'remove' %}" method="post">
            {% csrf_token %}
            {% include "sellers/seller_list.html" with users=seller_list show_actions=True %}
        </form>
    {% else %}
        <div class="ui info message">{% trans "There's nothing to display." %}</div>
    {% endif %}
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script>egielda.checkboxTable();</script>
{% endblock %}
