{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Sellers with unaccepted books" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sellers with unaccepted books" %}</h1>
    {% manage_header "sellers" %}

    {% if seller_list %}
        <form action="{% url 'sellers.views.bulk_actions' 'remove' %}" method="post">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {% if perms.common.view_sellers_remove_seller %}
                            <th><input type="checkbox" id="select-all">
                        {% endif %}
                        <th>{% trans "First name" %}</th>
                        <th>{% trans "Last name" %}</th>
                        <th>{% trans "Class" %}</th>
                        <th>{% trans "Phone number" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                    </thead>
                    {% for seller in seller_list %}
                        <tr>
                            {% if perms.common.view_sellers_remove_seller %}
                                <td><input type="checkbox" name="select-{{ seller.pk }}"></td>
                            {% endif %}
                            <td>{{ seller.first_name }}</td>
                            <td>{{ seller.last_name }}</td>
                            <td>{{ seller.student_class }}</td>
                            <td>{{ seller.phone_number }}</td>
                            <td>
                                {% if perms.common.view_sellers_accept_books %}
                                    <a class="btn btn-xs btn-link" href="{% url 'sellers.views.accept_books' seller.pk %}"
                                        role="button"><span class="glyphicon glyphicon-ok"></span> {% trans "Accept" %}</a>
                                {% endif %}
                                {% if perms.common.view_sellers_remove_seller %}
                                    <a class="btn btn-xs btn-link" href="{% url 'sellers.views.remove_seller' seller.pk %}"
                                        role="button"><span class="glyphicon glyphicon-trash"></span> {% trans "Remove" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        {% if perms.common.view_sellers_remove_seller %}
                            <tr class="info">
                                <td colspan="5" class="text-right text-muted">{% trans "Bulk actions:" %}</td>
                                <td>
                                    <div class="btn-toolbar" role="toolbar">
                                        {% if perms.common.view_sellers_remove_seller %}
                                            <button class="btn btn-xs btn-link" type="submit">
                                                <span class="glyphicon glyphicon-trash"></span> {% trans "Remove" %}
                                            </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tfoot>
                </table>
            </div>
        </form>
    {% else %}
        <div class="ui info message">{% trans "There's nothing to display." %}</div>
    {% endif %}
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $(".table-responsive table").tablesorter();

            $("input[name^='select-']").on('change', function () {
                $(this).closest($('tr')).toggleClass('active', this.checked);
            });

            $("input#select-all").on('change', function () {
                $("input[name^='select-']").prop('checked', this.checked);
                $("input[name^='select-']").closest($('tr')).toggleClass('active', this.checked);
            });
        });
    </script>
{% endblock %}
