{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Manage sellers" %}{% endblock %}

{% block content %}
    {% if seller_list|length == 1 %}
        <h1>{% trans "Remove seller's books" %}</h1>
    {% else %}
        <h1>{% trans "Remove sellers' books" %}</h1>
    {% endif %}
    {% manage_header "sellers/remove" %}

    {% if seller_list|length == 1 %}
        <div class="ui error message">{% trans "Are you sure you want to remove this seller's books?" %}</div>
    {% else %}
        <div class="ui error message">{% trans "Are you sure you want to remove these sellers' books?" %}</div>
    {% endif %}

    {% include "users/user_list_base.html" with users=seller_list %}

    <form action="{{ request.path }}" method="post">
        {% if perms.common.view_sellers_index %}
            <a href="{% url 'sellers.views.index' %}" class="ui icon labeled button" role="button">
                <i class="icon remove"></i>{% trans "Cancel" %}
            </a>
        {% endif %}
        <button type="submit" class="ui negative icon labeled button right floated">
            <i class="icon trash"></i>{% trans "Remove" %}
        </button>
        {% csrf_token %}
    </form>
{% endblock %}
