{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Manage sellers" %}{% endblock %}

{% block content %}
    <div class="ui success message hidden-print">
        {% trans "The books were accepted successfully." %}
    </div>

    <h1>{% trans "Books transfer evidence" %}<span class="text-muted right floated"><small>#{{ seller_ID }}</small></span></h1>
    <div class="responsive-form">
        {% include "elements/user_profile_display_form.html" with user=seller %}
    </div>

    {% include "book_chooser_wizard/books_chosen_list.html" with hide_actions=True book_list=given_book_list %}

    {% if perms.common.view_sellers_index %}
        <a href="{% url 'sellers.views.index' %}" class="ui primary icon right labeled button right floated hidden-print" role="button">
            <i class="icon chevron right"></i>{% trans "Next" %}
        </a>
    {% endif %}
{% endblock %}
