{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/jquery.datetimepicker.css" %}">
{% endblock %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}
    <h1>{% trans "Settings" %}</h1>
    {% manage_header "settings" %}

    <form class="ui form" action="{{ request.path }}" method="post">
        {% include "common/default_form.html" %}
        {% csrf_token %}
        <button type="submit" class="ui primary icon labeled button right floated">
            <i class="icon checkmark"></i>{% trans "Save" %}
        </button>
    </form>
{% endblock %}

{% block footer %}
    <script src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script src="{% static "js/jquery.datetimepicker.js" %}"></script>
    <script>egielda.datetimePolyfill('{{ LANGUAGE_CODE }}');</script>
{% endblock %}
