{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block head %}
    <style>
        table th {
            width: 20%;
        }

        .nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Books" %}{% endblock %}

{% block content %}
    <h1>{% trans "Books" %}</h1>
    {% manage_header "stats/books" %}

    <ul class="nav nav-tabs">
        <li><a href="{% url 'stats.views.index' %}">{% trans "Charts" %}</a></li>
        <li><a href="{% url 'stats.views.books_sold' %}">{% trans "Books sold" %}</a></li>
        <li><a href="{% url 'stats.views.users' %}">{% trans "Users" %}</a></li>
        <li class="active"><a href="#">{% trans "Books" %}</a></li>
    </ul>

    {% if book_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans "Book" %}</th>
                    <th>{% trans "Received" %}</th>
                    <th>{% trans "Sold" context "count" %}</th>
                </tr>
                </thead>
                {% for book in book_list %}
                    <tr>
                        <td><a href="{% url 'books.views.book_details' book.pk %}">{{ book.title }}</a></td>
                        <td>{{ book.received }}</td>
                        <td>{{ book.sold }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">{% trans "There's nothing to display." %}</div>
    {% endif %}
{% endblock %}