{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Books" %}{% endblock %}

{% block content %}
    <h1>{% trans "Books" %}</h1>
    {% manage_header "stats/books" %}

    <div class="ui tabular menu">
        {% if perms.common.view_stats_index %}
            <a href="{% url 'stats.views.index' %}" class="item">{% trans "Charts" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Charts" %}</div>
        {% endif %}
        {% if perms.common.view_stats_books_sold %}
            <a href="{% url 'stats.views.books_sold' %}" class="item">{% trans "Books sold" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Books sold" %}</div>
        {% endif %}
        <div href="{% url 'stats.views.books' %}" class="active item">{% trans "Books" %}</div>
    </div>

    {% if book_list %}
        <table class="ui selectable table">
            <thead>
                <tr>
                    <th>{% trans "Book" %}</th>
                    <th class="collapsing">{% trans "Received" %}</th>
                    <th class="collapsing">{% trans "Sold" context "count" %}</th>
                </tr>
            </thead>
            {% for book in book_list %}
                <tr>
                    <td>
                        {% if perms.common.view_books_book_details %}
                            <a href="{% url 'books.views.book_details' book.pk %}">{{ book.title }}</a>
                        {% else %}
                            {{ book.title }}
                        {% endif %}
                    </td>
                    <td class="collapsing">{{ book.received }}</td>
                    <td class="collapsing">{{ book.sold }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="ui info message">{% trans "There's nothing to display." %}</div>
    {% endif %}
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $(".table-responsive table").tablesorter();
        });
    </script>
{% endblock %}
