{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}
{% load price %}

{% block title %}{% trans "Books sold" %}{% endblock %}

{% block head %}
    <style>
        .panel-info h5 a {
            color: #333;
        }

        .panel-info > .panel-heading {
            color: #3A505B;
            background-image: linear-gradient(to bottom, #E6F1F6 0%, #E6F1F6 100%);
            background-color: #E6F1F6;
            padding: 5px 13px;
            line-height: 1.1;
            font-size: 13px;
        }

        .list-group {
            background-color: #F7FBFC;
        }

        .list-group-item {
            background: inherit;
        }

        .list-group-item:nth-child(2n+1) {
            background-color: #FFF;
        }

        .list-group-item:hover {
            background-color: #FCFCE2;
        }

        .text-muted {
            font-size: 12px;
        }

        h5 {
            font-weight: bold;
            margin: 7px 0;
        }

        .nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% trans "Books sold" %}</h1>
    {% manage_header "stats/sold" %}

    <ul class="nav nav-tabs">
        {% if perms.common.view_stats_index %}
            <li><a href="{% url 'stats.views.index' %}">{% trans "Charts" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Charts" %}</a></li>
        {% endif %}
        <li class="active"><a href="#">{% trans "Books sold" %}</a></li>
        {% if perms.common.view_stats_users %}
            <li><a href="{% url 'stats.views.users' %}">{% trans "Users" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Users" %}</a></li>
        {% endif %}
        {% if perms.common.view_stats_books %}
            <li><a href="{% url 'stats.views.books' %}">{% trans "Books" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Books" %}</a></li>
        {% endif %}
    </ul>

    {% if stats %}
        {% for key, value in stats %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b>
                        {{ key }}
                        <span class="pull-right">{{ value.1|price }}</span>
                    </b>
                </div>
                <ul class="list-group">
                    {% for el in value.0 %}
                        <li class="list-group-item">
                            <h5>
                                {% if perms.common.view_books_book_details %}
                                    <a href="{% url 'books.views.book_details' el.book_type.pk %}">{{ el.book_type.title }}</a>
                                {% else %}
                                    {{ el.book_type.title }}
                                {% endif %}
                                <span class="text-muted pull-right">{{ el.book_type.price|price }}</span>
                            </h5>
                            <span class="text-muted">{% blocktrans with purchaser=el.purchaser sold_date=el.sold_date|date:'H:i' %}{{ purchaser }} at {{ sold_date }}{% endblocktrans %}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">{% trans "There's nothing to display." %}</div>
    {% endif %}

{% endblock %}