{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
    <h1>{% trans "Statistics" %}</h1>
    {% manage_header "stats" %}

    <p>
        {% with books_sold=stats.books_sold books_sold_value=stats.books_sold_value %}
            {% blocktrans count counter=books_sold %}1 book was sold for the amount of {{ books_sold_value }}{{ currency }}.{% plural %}{{ books_sold }} books were sold for a total amount of {{ books_sold_value }}{{ currency }}.{% endblocktrans %}
        {% endwith %}
    </p>
{% endblock %}
