{% extends "common/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load manage_header %}
{% load price %}

{% block head %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css">
{% endblock %}

{% block title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
    <h1>{% trans "Statistics" %}</h1>
    {% manage_header "stats" %}

    <div class="ui tabular menu">
        <div href="{% url 'stats.views.index' %}" class="active item">{% trans "Charts" %}</div>
        {% if perms.common.view_stats_books_sold %}
            <a href="{% url 'stats.views.books_sold' %}" class="item">{% trans "Books sold" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Books sold" %}</div>
        {% endif %}
        {% if perms.common.view_stats_books %}
            <a href="{% url 'stats.views.books' %}" class="item">{% trans "Books" %}</a>
        {% else %}
            <div class="disabled item">{% trans "Books" %}</div>
        {% endif %}
    </div>

    <div class="ui stackable two column grid">
        <div class="column">
            <h3 class="text-center">{% trans "Number of books sold in each day" %}</h3>
            <div id="sold-book-amounts-chart" class="responsive-16by9">
                <svg class="responsive-item"></svg>
            </div>
        </div>
        <div class="column">
            <h3 class="text-center">{% trans "Number of books given in each day" %}</h3>
            <div id="given-book-amounts-chart" class="responsive-16by9">
                <svg class="responsive-item"></svg>
            </div>
        </div>
        <div class="column">
            <h3 class="text-center">{% trans "Income in each day" %}</h3>
            <div id="sold-book-prices-chart" class="responsive-16by9">
                <svg class="responsive-item"></svg>
            </div>
        </div>
        <div class="column">
            <h3 class="text-center">{% trans "Number of books sold by categories" %}</h3>
            <div id="sold-book-categories-chart" class="responsive-16by9">
                <svg class="responsive-item"></svg>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="{% static "js/nv.d3.min.js" %}"></script>
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script>
        {% load l10n %}
        function soldBookAmountsData() {
            return  [
                {
                    values: [
                        {% for date, count in sold_book_counts %}{label:"{{ date|date:"d E" }}",value:{{ count }}},{% endfor %}
                    ]
                }
            ]
        }
        function givenBookAmountsData() {
            return  [
                {
                    values: [
                        {% for date, count in given_book_counts %}{label:"{{ date|date:"d E" }}",value:{{ count }}},{% endfor %}
                    ]
                }
            ]
        }
        function soldBookPricesData() {
            return  [
                {
                    values: [
                        {% for date, price in sold_book_prices %}{label:"{{ date|date:"d E" }}",value:{{ price|unlocalize }}},{% endfor %}
                    ]
                }
            ]
        }
        function soldBookCategoriesData() {
            return  [
                {% for category, count in sold_book_categories %}{label: "{{ category.name }}",value:{{ count }}},{% endfor %}
            ]
        }
        egielda.statsCharts();
    </script>
{% endblock %}
