{% extends "common/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load manage_header %}
{% load price %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/nv.d3.css' %}">
    <style>
        .col-lg-6 {
            page-break-inside: avoid;
        }

        .nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
    <h1>{% trans "Statistics" %}</h1>
    {% manage_header "stats" %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="#">{% trans "Charts" %}</a></li>
        {% if perms.common.view_stats_books_sold %}
            <li><a href="{% url 'stats.views.books_sold' %}">{% trans "Books sold" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Books sold" %}</a></li>
        {% endif %}
        {% if perms.common.view_stats_books %}
            <li><a href="{% url 'stats.views.books' %}">{% trans "Books" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Books" %}</a></li>
        {% endif %}
    </ul>

    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-center">{% trans "Number of books sold in each day" %}</h3>
            <div id="sold-book-amounts-chart" class="embed-responsive embed-responsive-16by9">
                <svg class="embed-responsive-item"></svg>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="text-center">{% trans "Number of books given in each day" %}</h3>
            <div id="given-book-amounts-chart" class="embed-responsive embed-responsive-16by9">
                <svg class="embed-responsive-item"></svg>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-center">{% trans "Income in each day" %}</h3>
            <div id="sold-book-prices-chart" class="embed-responsive embed-responsive-16by9">
                <svg class="embed-responsive-item"></svg>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="text-center">{% trans "Number of books sold by categories" %}</h3>
            <div id="sold-book-categories-chart" class="embed-responsive embed-responsive-16by9">
                <svg class="embed-responsive-item"></svg>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="{% static 'js/nv.d3.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="{% static 'js/statscharts.js' %}"></script>
    <script>
        {% load l10n %}
        function soldBookAmountsData() {
            return  [
                {
                    values: [
                        {% for date, count in sold_book_counts %}{"label":"{{ date|date:"d E" }}","value":{{ count }}},{% endfor %}
                    ]
                }
            ]
        }
        function givenBookAmountsData() {
            return  [
                {
                    values: [
                        {% for date, count in given_book_counts %}{"label":"{{ date|date:"d E" }}","value":{{ count }}},{% endfor %}
                    ]
                }
            ]
        }
        function soldBookPricesData() {
            return  [
                {
                    values: [
                        {% for date, price in sold_book_prices %}{"label":"{{ date|date:"d E" }}","value":{{ price|unlocalize }}},{% endfor %}
                    ]
                }
            ]
        }
        function soldBookCategoriesData() {
            return  [
                {% for category, count in sold_book_categories %}{"label": "{{ category.name }}","value":{{ count }}},{% endfor %}
            ]
        }
    </script>
{% endblock %}
