{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}
{% load math %}
{% load price %}

{% block head %}
    <style>
        .panel-info > .panel-heading {
            color: #3A505B;
            background-image: linear-gradient(to bottom, #E6F1F6 0%, #E6F1F6 100%);
            background-color: #E6F1F6;
            padding: 5px 13px;
            line-height: 1.1;
            font-size: 13px;
        }

        .list-group {
            background-color: #F7FBFC;
        }

        .list-group-item {
            background: inherit;
        }

        .list-group-item:nth-child(2n+1) {
            background-color: #FFF;
        }

        .list-group-item:hover {
            background-color: #FCFCE2;
        }

        h5, .text-muted, .panel-info a {
            font-weight: bold;
            margin: 7px 0;
        }

        .text-muted {
            font-size: 12px;
        }

        h5 {
            display: inline-block;
        }

        .panel-info a, a.show-order:hover {
            color: #333;
        }

        a.show-order {
            font-size: 12px;
            margin-right: 5px;
            color: #999;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
    <h1>{% trans "Statistics" %}
        <small>{% blocktrans %}{{ user_name }}'s books{% endblocktrans %}</small>
    </h1>
    {% manage_header "stats/users/list" %}

    <div class="panel panel-info">
        <div class="panel-heading">
            {% trans "Sold" context "list of books" %}
        </div>
        <ul class="list-group">
            {% for book in sold_book_list %}
                <li class="list-group-item">
                    <a href="{% url 'orders.views.order_details' book.order.pk %}" title="Show order"
                       class="show-order">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </a>
                    <h5>
                        <a href="{% url 'books.views.book_details' book.book_type.pk %}">{{ book.book_type.title }}</a>
                    </h5>
                    <span class="text-muted pull-right">{{ book.book_type.price|price }}</span>
                </li>
            {% empty %}
                <li class="list-group-item">
                    {% trans "There's nothing to display." %}
                </li>
            {% endfor %}
        </ul>
        <div class="text-right panel-footer">
            <span class="text-muted">{% trans "Total income:" %}</span> {{ sold_book_list.income|price }}<br/>
            <span class="text-muted">{% trans "Profit:" %}</span> {{ sold_book_list.profit|price }}<br/>
            <span class="text-muted">{% trans "For student:" %}</span> {{ sold_book_list.for_student|price }}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            {% trans "Unsold" context "list of books" %}
        </div>
        <ul class="list-group">
            {% for book in unsold_book_list %}
                <li class="list-group-item">
                    <h5>
                        <a href="{% url 'books.views.book_details' book.book_type.pk %}">{{ book.book_type.title }}</a>
                    </h5>
                    <span class="text-muted pull-right">{{ book.book_type.price|price }}</span>
                </li>
            {% empty %}
                <li class="list-group-item">
                    {% trans "There's nothing to display." %}
                </li>
            {% endfor %}
        </ul>
        <div class="text-right panel-footer">
            <span class="text-muted">{% trans "Number of books unsold:" %}</span> {{ unsold_book_list|length }}
        </div>
    </div>
{% endblock %}