{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}
{% load math %}
{% load price %}

{% block head %}
    <style>
        .panel-info h5 a {
            color: #333;
        }

        .panel-info > .panel-heading {
            color: #3A505B;
            background-image: linear-gradient(to bottom, #E6F1F6 0%, #E6F1F6 100%);
            background-color: #E6F1F6;
            padding: 5px 13px;
            line-height: 1.1;
            font-size: 13px;
        }

        .list-group {
            background-color: #F7FBFC;
        }

        .list-group-item {
            background: inherit;
        }

        .list-group-item:nth-child(2n+1) {
            background-color: #FFF;
        }

        .list-group-item:hover {
            background-color: #FCFCE2;
        }

        .text-muted {
            font-size: 12px;
        }

        h5 {
            font-weight: bold;
            margin: 7px 0;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
    <h1>{% trans "Statistics" %}
        <small>{% blocktrans %}{{ user_name }}'s books{% endblocktrans %}</small>
    </h1>
    {% manage_header "stats/users/list" %}

    <div class="panel panel-info">
        <div class="panel-heading">
            {% blocktrans %}{{ user_name }}'s books{% endblocktrans %}
        </div>
        <ul class="list-group">
            {% for book, purchasers in stats %}
                <li class="list-group-item">
                    <h5>
                        <a href="{% url 'books.views.book_details' book.book_type.pk %}">{{ book.book_type.title }}</a>
                        <span class="text-muted pull-right">{{ book.book_type.price|price }}</span>
                    </h5><br/>
                    {% trans "Sold" context "count" %}: {{ purchasers|length }}/<b>{{ book.amount }}</b>
                    {% if purchasers|length > 0 %}
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans "Purchaser's name" %}</th>
                                <th>{% trans "Class" %}</th>
                                <th>{% trans "Phone number" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purchaser in purchasers %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ purchaser.user_name }}</td>
                                    <td>{{ purchaser.student_class }}</td>
                                    <td>{{ purchaser.phone_number }}</td>
                                    <td>
                                        <a class="btn btn-xs btn-link" role="button"
                                           href="{% url 'orders.views.order_details' purchaser.order_id %}">
                                            <span class="glyphicon glyphicon-list-alt"></span> {% trans "Show order" %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% trans "In total" %}:
                        {{ purchasers|length|multiply:book.book_type.price|price }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
{% endblock %}