{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Error {{ error }}{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="ui message" id="http-error">
        <h1 class="ui header">
            {% blocktrans %}Error {{ error }}{% endblocktrans %}
            <small>{% block subtitle %}{% endblock %}</small>
        </h1>

        <strong class="text-error">{% block description %}{% endblock %}</strong>

        {% block error_body %}{% endblock %}

        {% if not disable_homepage %}
            <div>
                <a href="{% url 'home' %}" class="ui icon labeled button">
                    <i class="icon home"></i>{% trans "Homepage" %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
