<script type="text/javascript">
window.addEventListener("load", function(){
   $(".alert-success, .alert-warning, .alert-danger").each(function(){
      $(this).addClass("alert-dismissable");
      $(this).prepend("<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>");
   });
});
</script>
{% if error_msg %}
   <div class="alert alert-danger">{{ error_msg }}</div>
{% endif %}
{% if warning_msg %}
   <div class="alert alert-warning">{{ warning_msg }}</div>
{% endif %}
{% if success_msg %}
   <div class="alert alert-success">{{ success_msg }}</div>
{% endif %}
