{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sell books" %}{% endblock %}

{% block content %}
<h1>{% trans "Sell books" %} <small>{% trans "Step 2 of 3: choose the books" %}</small></h1>

{% include "sell/books_chosen_list.html" %}
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#bookList">{% trans "Choose from the list" %}</a></h4>
        </div>
        <div id="bookList" class="panel-collapse collapse">
            {% include "sell/books_book_list.html" %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#addBookForm">{% trans "Add new" %}</a></h4>
        </div>
        <div id="addBookForm" class="panel-collapse collapse">
            <div class="panel-body form-horizontal">
                {% include "common/default_form.html" %}
                <button class="btn btn-default pull-right" id="btn-add-new-book"><span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="btn-toolbar">
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <button class="btn btn-default" id="btn-back"><span class="glyphicon glyphicon-chevron-left"></span> {% trans "Back" %}</button>
        <button class="btn btn-primary pull-right" id="btn-next" disabled="disabled">{% trans "Next" %} <span class="glyphicon glyphicon-chevron-right"></span></button>
    </form>
</div>
{% endblock %}

{% block footer %}
{% load staticfiles %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script>
    var chosenBooks = {% if chosen_books %}{{ chosen_books|safe }}{% else %}[]{% endif %};
    var currency = '{{ currency|safe }}';
</script>
<script src="{% static "js/bookchooser.js" %}"></script>
<script src="{% static "js/isbnfinder.js" %}"></script>
{% endblock %}