{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Order details" %}{% endblock %}

{% block content %}
    <h1>
        {% trans "Order details" %}
        <small>{% blocktrans with user=order.user.user_name %}{{ user }}'s order{% endblocktrans %}</small>
    </h1>
    {% manage_header "orders/details" %}

    <div class="responsive-form">
        {% load formfield %}
        {% formfield label=_("User") %}{{ order.user }}{% endformfield %}
        {% formfield label=_("Date") %}{{ order.date }}{% endformfield %}
    </div>

    {% include "orders/fulfill_accept_book_list.html" %}

    {% if perms.common.view_orders_index %}
        <a class="ui icon labeled button" role="button" href="{% url 'orders.views.index' %}">
            <i class="icon chevron left"></i>{% trans "Back" %}
        </a>
    {% endif %}
{% endblock %}
