{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Orders" %} – {% trans "Fulfilled" %}{% endblock %}

{% block head %}
    <style>
        .nav.nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% trans "Orders" %}</h1>
    {% manage_header "orders/fulfilled" %}

    <div class="ui tabular menu" role="tablist">
        <a href="{% url 'orders.views.not_fulfilled' %}" class="item">{% trans "Not fulfilled" %}</a>
        <div class="active item">{% trans "Fulfilled" %}</div>
    </div>

    <div class="responsive-form">
        {% load formfield %}
        {% formfield id="class_filter" label=_("Class") %}
            {% include "orders/class_filter.html" %}
        {% endformfield %}
    </div>

    {% include "orders/orders_table.html" with show_fulfill=False show_order=True %}
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $("table.sortable").tablesorter();
        });
    </script>
    <script src="{% static "js/classfilter.js" %}"></script>
{% endblock %}
