{% load base %}
{% load i18n %}
{% load price %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{% trans "ISBN" %}</th>
            <th>{% trans "Publisher" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Publication" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Amount" %}</th>
        </tr>
        </thead>

        {% for book_type in book_list %}
            <tr>
                <td>{{ book_type.isbn }}</td>
                <td>{{ book_type.publisher }}</td>
                <td>{{ book_type.title }}</td>
                <td>{{ book_type.publication_year }}</td>
                <td>{{ book_type.price|price }}</td>
                <td>{{ book_type.amount }}</td>
            </tr>
            <tr>
                <td style="border-top: 0;" colspan="7">
                    <div class="form-group">
                        <label style="width: 100%; display: flex; align-items: center;">
                            <span class="col-sm-3 col-md-2 control-label">
                                {% trans "Book owners" %}:
                            </span>
                            <div class="col-sm-9 col-md-10 tokenfield" style="padding: 6px 12px; height: 34px;">
                                {% for owner in book_type.owners %}
                                    <span class="token" style="padding-right: 5px;">
                                        <span class="token-label">
                                            {{ users|keyvalue:owner }}
                                        </span>
                                    </span>
                                {% endfor %}
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}

        <tr class="bg-info">
            <td colspan="4" class="text-right">{% trans "Total price:" %}</td>
            <td colspan="2"><strong>{{ price_sum|price }}</strong></td>
        </tr>
        <tr class="bg-info">
            <td colspan="4" class="text-right">{% trans "Number of books:" %}</td>
            <td colspan="2"><strong>{{ book_sum }}</strong></td>
        </tr>
    </table>
</div>
