{% extends 'orders/fulfill_book_list_base.html' %}

{% load base %}
{% load i18n %}
{% load price %}

{% block owners_field %}
    <div class="ui search multiple dropdown">
        {% for owner in book_type.owners %}
            <div class="token ui label transition visible">{{ users|keyvalue:owner }}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <tr class="bg-info">
        <td colspan="4" class="right aligned">{% trans "Total price:" %}</td>
        <td colspan="2"><strong>{{ price_sum|price }}</strong></td>
    </tr>
    <tr class="bg-info">
        <td colspan="4" class="right aligned">{% trans "Number of books:" %}</td>
        <td colspan="2"><strong>{{ book_sum }}</strong></td>
    </tr>
{% endblock %}
