{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Orders" %} – {% trans "Fulfilled" %}{% endblock %}

{% block head %}
    <style>
        .nav.nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% trans "Orders" %}</h1>
    {% manage_header "orders/fulfilled" %}

    <div class="ui tabular menu" role="tablist">
        <a href="{% url 'orders.views.not_fulfilled' %}" class="item">{% trans "Not fulfilled" %}</a>
        <div class="active item">{% trans "Fulfilled" %}</div>
    </div>

    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label"
                       for="category_filter">{% trans "Class" %}:</label>

                <div class="col-sm-9 col-md-10">
                    <select class="form-control" id="class_filter">
                        <option value="0">{% trans "All" context "class" %}</option>
                        <option disabled="disabled">────────</option>
                        {% for class in class_list %}
                            <option value="{{ class }}">{{ class }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    {% include "orders/orders_table.html" with show_fulfill=False show_order=True %}
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $(".table-responsive table").tablesorter();
        });
    </script>
    <script src="{% static "js/classfilter.js" %}"></script>
{% endblock %}
