{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Orders - Fulfill" %}{% endblock %}

{% block head %}
    <style>
        .book-row:hover {
            background-color: #f5f5f5;
        }
    </style>

    {% load staticfiles %}
    <link href="//code.jquery.com/ui/1.11.4/themes/flick/jquery-ui.min.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static "css/tokenfield-typeahead.css" %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-tokenfield.css" %}"></link>
{% endblock %}

{% block content %}
    <h1>
        {% trans "Orders" %}
        <small>
            {% blocktrans with user_name=order.user.user_name %}Fulfill {{ user_name }}'s order{% endblocktrans %}
        </small>
    </h1>
    {% manage_header "orders/fulfill" %}

    <div class="alert alert-info">{% trans "If you want to delete some book, just pass 0 as amount." %}</div>
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% include 'orders/fulfill_book_list.html' with hide_actions=True %}

        {% if perms.common.view_orders_not_fulfilled %}
            <a href="{% url 'orders.views.not_fulfilled' %}" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
            </a>
        {% endif %}

        {% if perms.common.view_orders_fulfill_accept %}
            <button class="btn btn-primary pull-right" type="submit">
                {% trans "Next" %} <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        {% endif %}
    </form>
{% endblock %}

{% block footer %}
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $(".table-responsive table").tablesorter();
        });
    </script>
    <script type="text/javascript" src="{% static "js/cache.js" %}"></script>
    <script type="text/javascript">
        var users = new Array();
        {% for user in users %}
            users[{{ user.0 }}] = "{{ user.1 }}";
        {% endfor %}
        //alert(users);
    </script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-tokenfield.js" %}"></script>
    <script type="text/javascript" src="{% static "js/userchooser.js" %}"></script>
{% endblock %}
