{% extends 'orders/fulfill_book_list_base.html' %}
{% load i18n %}

{% block thead %}
    <th>{% trans "In stock" %}</th>
{% endblock %}

{% block amount_td %}
    <div class="ui mini slim input">
        <input type="number" step="1" min="0" max="{{ book_type.in_stock }}"
               name="amount-{{ book_type.pk }}" value="{{ book_type.amount }}">
    </div>
{% endblock %}

{% block tr %}
    <td>{{ book_type.in_stock }}</td>
{% endblock %}

{% block owners_field %}
    <input type="text" name="owners-{{ book_type.pk }}" value="{{ book_type.owners }}"
           class="tokenfield ui input{% if book_type.error %} error{% endif %}">
{% endblock %}
