{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Orders" %} – {% trans "Not executed" %}{% endblock %}

{% block content %}
    <h1>{% trans "Orders" %}</h1>
    {% manage_header "orders/not_executed" %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">{% trans "Not executed" %}</a></li>
        <li><a href="{% url 'orders.views.outdated' %}">{% trans "Outdated" %}</a></li>
        <li><a href="{% url 'orders.views.executed' %}">{% trans "Executed" %}</a></li>
    </ul>

    {% include "orders/orders_table.html" with show_execute=True %}
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $(".table-responsive table").tablesorter();
        });
    </script>
{% endblock %}