{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Orders" %} – {% trans "Not fulfilled" %}{% endblock %}

{% block content %}
    <h1>{% trans "Orders" %}</h1>
    {% manage_header "orders/not_fulfilled" %}

    <div class="ui tabular menu">
        <div class="active item">{% trans "Not fulfilled" %}</div>
        <a href="{% url 'orders.views.fulfilled' %}" class="item">{% trans "Fulfilled" %}</a>
    </div>

    <div class="responsive-form">
        {% load formfield %}
        {% formfield id="class_filter" label=_("Class") %}
            {% include "orders/class_filter.html" %}
        {% endformfield %}
    </div>

     <form action="{% url 'orders.views.bulk_actions' 'remove' %}" method="post">
        {% include "orders/orders_table.html" with show_fulfill=True show_order=False show_remove=True %}
        {% csrf_token %}
     </form>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/moment.min.js" %}"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script>
        egielda.checkboxTable();
        egielda.classFilter();
    </script>
{% endblock %}
