{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Orders" %} – {% trans "Not fulfilled" %}{% endblock %}

{% block head %}
    <style>
        .nav.nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% trans "Orders" %}</h1>
    {% manage_header "orders/not_fulfilled" %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">{% trans "Not fulfilled" %}</a></li>
        <li><a href="{% url 'orders.views.fulfilled' %}">{% trans "Fulfilled" %}</a></li>
    </ul>

    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label"
                       for="category_filter">{% trans "Class" %}:</label>

                <div class="col-sm-9 col-md-10">
                    <select class="form-control" id="class_filter">
                        <option value="0">{% trans "All" context "class" %}</option>
                        <option disabled="disabled">────────</option>
                        {% for class in class_list %}
                            <option value="{{ class }}">{{ class }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

     <form action="{% url 'orders.views.bulk_actions' 'remove' %}" method="post">
        {% include "orders/orders_table.html" with show_fulfill=True show_order=False show_remove=True %}
        {% csrf_token %}
     </form>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $(".table-responsive table").tablesorter();

            $("input[name^='select-']").on('change', function () {
                $(this).closest($('tr')).toggleClass('active', this.checked);
            });

            $("input#select-all").on('change', function () {
                var checkboxes = $("input[name^='select-']").filter(function(){
                    return $(this).parent().parent().css('display') !== 'none';
                });
                checkboxes.prop('checked', this.checked);
                checkboxes.closest($('tr')).toggleClass('active', this.checked);
            });
        });
    </script>
    <script src="{% static "js/classfilter.js" %}"></script>
{% endblock %}
