{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Orders" %} – {% trans "Not fulfilled" %}{% endblock %}

{% block content %}
    <h1>{% trans "Orders" %}</h1>
    {% manage_header "orders/not_fulfilled" %}

    <div class="ui tabular menu">
        <div class="active item">{% trans "Not fulfilled" %}</div>
        <a href="{% url 'orders.views.fulfilled' %}" class="item">{% trans "Fulfilled" %}</a>
    </div>

    <div class="responsive-form">
        {% load formfield %}
        {% formfield id="class_filter" label=_("Class") %}
            {% include "orders/class_filter.html" %}
        {% endformfield %}
    </div>

     <form action="{% url 'orders.views.bulk_actions' 'remove' %}" method="post">
        {% include "orders/orders_table.html" with show_fulfill=True show_order=False show_remove=True %}
        {% csrf_token %}
     </form>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/moment.min.js" %}"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $("table.sortable").tablesorter();

            $('.ui.checkbox').checkbox('set enabled');
            $('.table .master.checkbox').checkbox({
                onChecked: function () {
                    var $childCheckbox = $(this).closest('.table').find('.checkbox');
                    $childCheckbox.checkbox('check');
                },
                onUnchecked: function () {
                    var $childCheckbox = $(this).closest('.table').find('.checkbox');
                    $childCheckbox.checkbox('uncheck');
                }
            });

            $('.table .child.checkbox').checkbox({
                fireOnInit: true,
                onChange: function () {
                    var $listGroup = $(this).closest('.table'),
                            $parentCheckbox = $listGroup.find('th .master.checkbox'),
                            $checkbox = $listGroup.find('.checkbox').not('.master'),
                            allChecked = true,
                            allUnchecked = true;

                    $checkbox.each(function () {
                        if ($(this).checkbox('is checked')) {
                            allUnchecked = false;
                        } else {
                            allChecked = false;
                        }
                    });
                    if (allChecked) {
                        $parentCheckbox.checkbox('set checked');
                    } else if (allUnchecked) {
                        $parentCheckbox.checkbox('set unchecked');
                    } else {
                        $parentCheckbox.checkbox('set indeterminate');
                    }
                }
            });
        });
    </script>
    <script src="{% static "js/classfilter.js" %}"></script>
{% endblock %}
