{% load i18n %}

{% if orders %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Valid until" %}</th>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Books" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            {% for order in orders %}
                <tr>
                    <td>{{ order.date }}</td>
                    <td>{{ order.valid_until }}</td>
                    <td>{{ order.user }}</td>
                    <td>{{ order.books.count }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="alert alert-info">{% trans "There's nothing to display." %}</div>
{% endif %}