{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Orders" %} – {% trans "Outdated" %}{% endblock %}

{% block content %}
    <h1>
        {% trans "Orders" %}
        <small>{% trans "Outdated" %}</small>
    </h1>
    {% manage_header "orders/outdated" %}

    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{% url 'orders.views.not_executed' %}">{% trans "Not executed" %}</a></li>
        <li><a href="{% url 'orders.views.executed' %}">{% trans "Executed" %}</a></li>
        <li class="active"><a href="#">{% trans "Outdated" %}</a></li>
    </ul>
{% endblock %}