{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Manage orders" %}{% endblock %}

{% block content %}
    {% if orders|length == 1 %}
        <h1>{% trans "Remove order" %}</h1>
    {% else %}
        <h1>{% trans "Remove orders" %}</h1>
    {% endif %}
    {% manage_header "orders/remove" %}

    {% if orders|length == 1 %}
        <div class="ui error message">{% trans "Are you sure you want to remove this order?" %}</div>
    {% else %}
        <div class="ui error message">{% trans "Are you sure you want to remove these orders?" %}</div>
    {% endif %}
    {% include "orders/orders_table.html" with hide_actions=True %}
    <form action="{{ request.path }}" method="post">
        {% if perms.common.view_orders_index %}
            <a href="{% url 'orders.views.index' %}" class="ui button" role="button"><span
                class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a>
        {% endif %}
        <button type="submit" class="ui negative button pull-right"><span
                class="glyphicon glyphicon-trash"></span> {% trans "Remove" %}</button>
        {% csrf_token %}
    </form>
{% endblock %}
