{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Purchase books" %}{% endblock %}

{% block content %}
    <div class="ui success message hidden-print">
        {% trans "Your request was accepted. You can claim your books now." %}
    </div>

    <h1>{% trans "Order summary" %}<span class="text-muted right floated"><small>#{{ order_ID }}</small></span></h1>
    <div class="responsive-form">
        {% include "elements/user_profile_display_form.html" with user=order.user %}
    </div>

    {% include "book_chooser_wizard/books_chosen_list.html" with hide_actions=True book_list=chosen_book_list %}
{% endblock %}
