{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign out" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Sign out" %}</h1>
    </div>

    <div class="alert alert-success">
        {% trans "You have been successfully signed out." %}
    </div>

    <div class="btn-toolbar">
        <a href="{% url 'home' %}" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-home"></span> {% trans "Homepage" %}
        </a>
        <a href="{% url 'login' %}" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-log-in"></span> {% trans "Sign in again" %}
        </a>
    </div>
{% endblock %}