{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign out" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Sign out" %}</h1>
    </div>

    <div class="ui success message">
        {% trans "You have been successfully signed out." %}
    </div>

    <div class="btn-toolbar">
        <a href="{% url 'home' %}" class="ui primary icon labeled button" role="button">
            <i class="icon home"></i> {% trans "Homepage" %}
        </a>
        <a href="{% url 'login' %}" class="ui icon labeled button right floated" role="button">
            <i class="icon sign in"></i> {% trans "Sign in again" %}
        </a>
    </div>
{% endblock %}
