{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Sign in" %}</h1>
    </div>

    {% if user.is_authenticated %}
        <div class="ui warning message">
            {% blocktrans %}You are already signed in as <b>{{ user }}</b>. If you are sure you want to sign in as another user, use the form below.{% endblocktrans %}
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="ui error message">
            {% trans "Authentication data you provided is incorrect." %}
        </div>
    {% endif %}

    <form class="ui form" action="" method="post">
        <div class="responsive-form">
            {% load formfield %}
            {% formfield id="username" label="Username" %}
                <input type="text" id="username" name="username" required="required">
            {% endformfield %}
            {% formfield id="password" label="Password" %}
                <input type="password" id="password" name="password" required="required">
            {% endformfield %}
        </div>
        <button type="submit" class="ui primary icon labeled button right floated" value="login">
            <i class="icon sign in"></i>{% trans "Sign in" %}
        </button>

        <input type="hidden" name="next" value="{{ next|escape }}"/>
        {% csrf_token %}
    </form>
{% endblock %}
