{% extends "common/base.html" %}
{% load i18n %}
{% load base %}

{% block head %}
    <style>
        #homepage-info {
            margin-top: 40px;

        }

        #homepage-info strong {
            font-size: 16px;
        }

        #homepage-info p {
            font-size: 14px;
            margin-bottom: 8px;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{% site_name %}</h1>

        {% if sell_available and purchase_available %}<p>{% trans "What do you want to do?" %}</p>{% endif %}
        {% if not sell_available and not purchase_available %}<p>{% trans "The website is currently disabled." %}
            </p>{% endif %}

        <p>
            {% if purchase_available %}
                <a href="{% url 'purchase:personal_data' %}" class="btn btn-primary btn-lg" role="button">
                    <span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Purchase" %}
                </a>
            {% endif %}
            {% if sell_available and purchase_available %}{% trans "or" %}{% endif %}
            {% if sell_available %}
                <a href="{% url 'sell:personal_data' %}" class="btn btn-default btn-lg" role="button">
                    <span class="glyphicon glyphicon-transfer"></span> {% trans "Sell" %}
                </a>
            {% endif %}
        </p>

        {% if homepage_info %}
            <div id="homepage-info">
                <strong>{% trans "Information:" %}</strong>
                {{ homepage_info|safe|linebreaks }}
            </div>
        {% endif %}
    </div>
{% endblock %}