{% extends "common/base.html" %}
{% load i18n %}
{% load base %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{% site_name %}</h1>

        {% if homepage_info %}
            {{ homepage_info|linebreaks }}
        {% endif %}

        {% if sell_available and purchase_available %}<p>{% trans "What do you want to do?" %}</p>{% endif %}
        {% if not sell_available and not purchase_available %}<p>{% trans "The website is currently disabled." %}
            </p>{% endif %}

        <p>
            {% if purchase_available %}
                <a href="{% url 'purchase:personal_data' %}" class="btn btn-primary btn-lg" role="button">
                    <span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Purchase" %}
                </a>
            {% endif %}
            {% if sell_available and purchase_available %}{% trans "or" %}{% endif %}
            {% if sell_available %}
                <a href="{% url 'sell:personal_data' %}" class="btn btn-default btn-lg" role="button">
                    <span class="glyphicon glyphicon-transfer"></span> {% trans "Sell" %}
                </a>
            {% endif %}
        </p>
    </div>
{% endblock %}