<div class="responsive-form">
    {% load base %}
    {% for field in form %}
        {% include "common/form_field.html" with id=field.auto_id label=field.label has_errors=field.errors %}
        {% if field.errors|striplist %}
            <div class="inline fields" style="margin-top: -1em;">
                <div class="label"></div>
                <div class="ui pointing label">
                    {% if field.errors|length == 1 %}
                        {{ field.errors.0 }}
                    {% else %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
