<div class="responsive-form">
    <style scoped>
        input[type="checkbox"][id$="-clear_id"] {
            margin: 0 4px 0 25px;
            width: initial !important;
        }

        label[for$="-clear_id"] {
            width: initial !important;
        }

        input[type="file"] {
            height: auto;
            padding: 0.458614em 1em;
            width: initial !important;
        }

        .ui.form .responsive-form div.inline.fields > .ui.pointing.label, .responsive-form div.inline.fields > .ui.pointing.label {
            margin-top: 0;
        }

        .ui.form .responsive-form div.inline.fields > .ui.pointing.label, .responsive-form div.inline.fields > .ui.pointing.label > ul {
            margin: 0;
            padding: 4px 20px;
        }

        .ui.form .responsive-form div.inline.fields > .ui.pointing.label, .responsive-form div.inline.fields > .ui.pointing.label > ul > li {
            padding: 3px;
        }
    </style>
    {% for field in form %}
        {% include "common/form_field.html" with id=field.auto_id label=field.label has_errors=field.errors %}
        {% if field.errors %}
            <div class="inline fields" style="margin-top: -1em;">
                <div class="label"></div>
                <div class="ui pointing label">
                    {% if field.errors|length == 1 %}
                        {{ field.errors.0 }}
                    {% else %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
