{% if error_msg or warning_msg or success_msg or info_msg %}
    <script type="text/javascript">
        window.addEventListener("load", function () {
            $(".alert-dismissable").each(function () {
                $(this).addClass("fade in");
                $(this).prepend("<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>");
            });
        });
    </script>
    {% if error_msg %}
        <div class="ui error message">
            <i class="close icon"></i>
            {{ error_msg }}
        </div>
    {% endif %}
    {% if warning_msg %}
        <div class="ui warning message">
            <i class="close icon"></i>
            {{ warning_msg }}
        </div>
    {% endif %}
    {% if success_msg %}
        <div class="ui success message">
            <i class="close icon"></i>
            {{ success_msg }}
        </div>
    {% endif %}
    {% if info_msg %}
        <div class="ui info message">
            <i class="close icon"></i>
            {{ info_msg }}
        </div>
    {% endif %}
{% endif %}
