{# Displays user profile data like a form. #}

{% load formfield %}
{% formfield label=_("Username") %}{{ user.username }}{% endformfield %}
{% formfield label=_("First name") %}{{ user.first_name }}{% endformfield %}
{% formfield label=_("Last name") %}{{ user.last_name }}{% endformfield %}
{% if split_student_class %}
    {% formfield label=_("School's beginning year") %}{{ user.year }}{% endformfield %}
    {% formfield label=_("Class letter") %}{{ user.class_letter }}{% endformfield %}
{% else %}
    {% formfield label=_("Class") %}{{ user.student_class }}{% endformfield %}
{% endif %}
{% formfield label=_("Phone number") %}{{ user.phone_number }}{% endformfield %}
{% formfield label=_("E-mail") %}{{ user.email }}{% endformfield %}
