{% extends "users/book_list.html" %}

{% load i18n %}

{% block price %}
    {% if not book.book_type.visible %}
        <input type="number" step="0.01" max="999.99" class="form-control input-sm" name="price-{{ book.book_type.pk }}"
               value="{{ book.book_type.price }}">
    {% else %}
        {{ book.book_type.price_string }}
    {% endif %}
{% endblock %}

{% block amount %}
    {% if not book.accepted %}
        <input type="number" step="1" class="form-control input-sm" name="amount-{{ book.book_type.pk }}"
               value="{{ book.amount }}">
    {% else %}
        {{ book.amount }}
    {% endif %}
{% endblock %}

{% block actions %}
    {% if not book.book_type.visible %}
        <a href="{% url 'users.views.accept_edit_book' student_pk book.book_type.pk %}" class="btn btn-xs btn-link"
           role="button">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
        </a>
    {% endif %}
{% endblock %}
