{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Users - Accept books" %}{% endblock %}

{% block content %}
    <h1>{% trans "Users" %}
        <small>{% blocktrans %}Accept {{ user_name }}'s books{% endblocktrans %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'managemenu.views.index' %}">{% trans "Manage" %}</a></li>
        <li><a href="{% url 'users.views.index' %}">{% trans "Users" %}</a></li>
        <li><a href="{% url 'users.views.unaccepted' %}">{% trans "With unaccepted books" %}</a></li>
        <li class="active">{% trans "Accept user's books" %}</li>
    </ol>

    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% include 'users/accept_book_list.html' with show_actions=True accepted_view=True %}

        <a href="{% url 'users.views.unaccepted' %}" class="btn btn-default" role="button"><span
                class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a>
        <button class="btn btn-primary pull-right" role="submit"><span
                class="glyphicon glyphicon-ok"></span> {% trans "Accept" %}</button>
    </form>
{% endblock %}