{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block content %}
    <h1>{% trans "Users" %}
        <small>{% blocktrans %}{{ user_name }}'s books{% endblocktrans %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'managemenu.views.index' %}">{% trans "Manage" %}</a></li>
        <li><a href="{% url 'users.views.index' %}">{% trans "Users" %}</a></li>
        <li class="active">{% trans "User's books" %}</li>
    </ol>

    {% include 'users/book_list.html' %}

    <a href="{% url 'users.views.index' %}" class="btn btn-primary" role="button">
        <span class="glyphicon glyphicon-chevron-left"></span> {% trans "Back" %}
    </a>
{% endblock %}