{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}
{% load price %}

{% block head %}
    <style>
        .panel-info h5 a {
            color: #333;
        }

        .panel-info > .panel-heading {
            color: #3A505B;
            background-image: linear-gradient(to bottom, #E6F1F6 0%, #E6F1F6 100%);
            background-color: #E6F1F6;
            padding: 5px 13px;
            line-height: 1.1;
            font-size: 13px;
        }

        .list-group {
            background-color: #F7FBFC;
        }

        .list-group-item {
            background: inherit;
        }

        .list-group-item:nth-child(2n+1) {
            background-color: #FFF;
        }

        tbody > tr.list-group-item:hover > td {
            background-color: #FCFCE2;
        }

        .text-muted {
            font-size: 12px;
        }

        h5 {
            font-weight: bold;
            margin: 7px 0;
        }

        .nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Purchased books" %}{% endblock %}

{% block content %}
    {% include "users/profile_header.html" %}
    {% manage_header "users/purchased" %}

    <div class="ui tabular menu">
        {% if perms.common.view_stats_user_profile %}
            <a href="{% url 'users.views.profile' student.pk %}" class="item">{% trans "Profile data" %}</a>
        {% else %}
            <div class="item disabled">{% trans "Profile data" %}</div>
        {% endif %}
        <div class="active item">{% trans "Purchased books" %}</div>
        {% if perms.common.view_stats_user_profile_sold %}
            <a href="{% url 'users.views.profile_sold' student.pk %}" class="item">{% trans "Sold books" %}</a>
        {% else %}
            <div class="item disabled">{% trans "Sold books" %}</div>
        {% endif %}
    </div>

    {% include "users/purchased_list.html" %}
{% endblock %}
