{% load i18n %}
{% load price %}

{% if stats %}
    {% for key, value in stats.items %}
        <table class="ui selectable table">
            <thead>
            <tr>
                <th colspan="7" class="bg-info">
                    {{ key.0 }}
                    <span class="right floated">#{{ key.1 }}</span>
                </th>
            </tr>
            <tr>
                <th class="collapsing">{% trans "ISBN" %}</th>
                <th class="collapsing">{% trans "Publisher" %}</th>
                <th>{% trans "Title" %}</th>
                <th class="collapsing">{% trans "Publication" %}</th>
                <th class="collapsing">{% trans "Price" %}</th>
                <th class="collapsing">{% trans "Amount" %}</th>
                <th class="collapsing">{% trans "Fulfilled" %}</th>
            </tr>
            </thead>
            {% for book in value %}
                <tr>
                    <td class="collapsing">{{ book.0.isbn }}</td>
                    <td class="collapsing">{{ book.0.publisher }}</td>
                    <td>{{ book.0.title }}</td>
                    <td class="collapsing">{{ book.0.publication_year }}</td>
                    <td class="collapsing">{{ book.0.price | price }}</td>
                    <td class="collapsing">{{ book.1 }}</td>
                    <td>
                        {% if book.2 %}
                            ✔
                        {% else %}
                            ✘
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% else %}
    <div class="ui info message">{% trans "There's nothing to display." %}</div>
{% endif %}
