{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}
{% load price %}

{% block title %}{% trans "Sold books" %}{% endblock %}

{% block content %}
    {% include "users/profile_header.html" %}
    {% manage_header "users/sold" %}

    <div class="ui tabular menu">
        {% if perms.common.view_users_profile %}
            <a href="{% url 'users.views.profile' student.pk %}" class="item">{% trans "Profile data" %}</a>
        {% else %}
            <div class="item disabled">{% trans "Profile data" %}</div>
        {% endif %}
        {% if perms.common.view_users_profile_purchased %}
            <a href="{% url 'users.views.profile_purchased' student.pk %}" class="item">{% trans "Purchased books" %}</a>
        {% else %}
            <div class="item disabled">{% trans "Purchased books" %}</div>
        {% endif %}
        <div class="active item">{% trans "Sold books" %}</div>
    </div>

    {% include "users/sold_list.html" %}
{% endblock %}
