{% load i18n %}
{% load price %}

{% if stats %}
    <table class="ui selectable table">
        <thead>
        <tr>
            <th colspan="8" class="bg-info">
                {{ student.get_full_name }}
                <span class="right floated">#{{ student.id }}</span>
            </th>
        </tr>
        <tr>
            <th class="collapsing">{% trans "ISBN" %}</th>
            <th class="collapsing">{% trans "Publisher" %}</th>
            <th>{% trans "Title" %}</th>
            <th class="collapsing">{% trans "Publication" %}</th>
            <th class="collapsing">{% trans "Price" %}</th>
            <th class="collapsing">{% trans "Declared" %}</th>
            <th class="collapsing">{% trans "Brought" %}</th>
            <th class="collapsing">{% trans "Sold" context "count" %}</th>
        </tr>
        </thead>
        {% for key, value in stats.items %}
            <tr>
                <td class="collapsing">{{ value.0.book_type.isbn }}</td>
                <td class="collapsing">{{ value.0.book_type.publisher }}</td>
                <td>{{ value.0.book_type.title }}</td>
                <td class="collapsing">{{ value.0.book_type.publication_year }}</td>
                <td class="collapsing">{{ value.0.book_type.price | price }}</td>
                <td class="collapsing">{{ value.1 }}</td>
                <td class="collapsing">{{ value.2 }}</td>
                <td class="collapsing">{{ value.3 }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="ui info message">{% trans "There's nothing to display." %}</div>
{% endif %}
