{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block head %}
    <style>
        .panel-info h5 a {
            color: #333;
        }

        .panel-info > .panel-heading {
            color: #3A505B;
            background-image: linear-gradient(to bottom, #E6F1F6 0%, #E6F1F6 100%);
            background-color: #E6F1F6;
            padding: 5px 13px;
            line-height: 1.1;
            font-size: 13px;
        }

        .list-group {
            background-color: #F7FBFC;
        }

        .list-group-item {
            background: inherit;
        }

        .list-group-item:nth-child(2n+1) {
            background-color: #FFF;
        }

        .list-group-item:hover {
            background-color: #FCFCE2;
        }

        .text-muted {
            font-size: 12px;
        }

        h5 {
            font-weight: bold;
            margin: 7px 0;
        }

        .nav-tabs {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %}{% blocktrans %}{{ student }}'s profile{% endblocktrans %}{% endblock %}

{% block content %}
    {% include "users/profile_header.html" %}
    {% manage_header "users/profile" %}

    <ul class="nav nav-tabs">
        {% if perms.common.view_stats_user_profile %}
            <li class="active"><a href="{% url 'users.views.profile' student.pk %}">{% trans "Profile data" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Profile data" %}</a></li>
        {% endif %}
        {% if perms.common.view_stats_user_profile_purchased %}
            <li><a href="{% url 'users.views.profile_purchased' student.pk %}">{% trans "Purchased books" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Purchased books" %}</a></li>
        {% endif %}
        {% if perms.common.view_stats_user_profile_sold %}
            <li><a href="{% url 'users.views.profile_sold' student.pk %}">{% trans "Sold books" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Sold books" %}</a></li>
        {% endif %}
    </ul>

    <form class="form-horizontal" enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% include "common/default_form.html" %}
        {% csrf_token %}
        <button class="ui primary button pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span> {% trans "Save" %}</button>
    </form>
{% endblock %}
