{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block content %}
    <h1>{% trans "Users" %}</h1>
    {% manage_header "users/"|add:tab %}

    <div class="ui tabular menu">
        {% if tab == 'verified' %}
            <div class="active item">{% trans "Verified" %}</div>
            <a href="{% url 'users.views.unverified' %}" class="item">{% trans "Unverified" %}</a>
            <a href="{% url 'users.views.needing_data_correction' %}" class="item">{% trans "Needing data correction" %}</a>
        {% elif tab == 'unverified' %}
            <a href="{% url 'users.views.verified' %}" class="item">{% trans "Verified" %}</a>
            <div class="active item">{% trans "Unverified" %}</div>
            <a href="{% url 'users.views.needing_data_correction' %}" class="item">{% trans "Needing data correction" %}</a>
        {% elif tab == 'needing_data_correction' %}
            <a href="{% url 'users.views.verified' %}" class="item">{% trans "Verified" %}</a>
            <a href="{% url 'users.views.unverified' %}" class="item">{% trans "Unverified" %}</a>
            <div class="active item">{% trans "Needing data correction" %}</div>
        {% endif %}
    </div>

    {% if users %}
        {% if tab == 'unverified' %}
            {% include "users/user_list_unverified.html" with show_actions=perms.common.view_users_verify %}
        {% else %}
            {% include "users/user_list_sortable.html" %}
        {% endif %}
    {% else %}
        <div class="ui info message">{% trans "There's nothing to display." %}</div>
    {% endif %}
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
{% endblock %}
