{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block head %}
    <style>
        #identity-card {
            display: block;
            max-height: 200px;
            width: auto;
            max-width: 100%;
            margin-bottom: 15px;
        }

        @media (min-width: 992px) {
            #identity-card {
                float: right;
            }
        }

        @media (max-width: 991px) {
            #identity-card {
                margin-left: auto;
                margin-right: auto;
            }
        }

        #no-id-info {
            text-align: center;
            font-style: italic;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block title %}{% blocktrans %}Verify {{ student }}'s account{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Verify {{ student }}'s account{% endblocktrans %}</h1>
    {% manage_header "users/unverified/verify" %}

    <div class="ui info message slideable" role="alert" style="display: none;" id="to-correct-info">
        {% trans 'Select incorrectly filled fields and then press "Needs correction" button again.' %}
    </div>

    <div class="ui error message slideable" role="alert" style="display: none;" id="to-correct-not-selected">
        {% trans "You didn't select any field which needs to be corrected." %}
    </div>

    <div class="ui stackable two column grid">
        <div class="responsive-form column">
            {% include "elements/user_profile_display_form.html" with user=student %}
        </div>
        <div class="column">
            {% if student.document %}
                <a href="{{ student.document.url }}">
                    <img id="identity-card" src="{{ student.document.url }}">
                </a>
            {% else %}
                <div id="no-id-info">{% trans "This user has no associated identity card." %}</div>
            {% endif %}
        </div>
    </div>

    <form action="{{ request.path }}" method="post"
            data-action-needscorrection="{% url 'users.views.needs_correction' student.pk %}">
        {% csrf_token %}
        <a class="ui icon labeled button left floated" href="{% url 'users.views.unverified' %}" id="cancel">
                <i class="icon remove"></i>{% trans "Cancel" %}
        </a>
        <button class="ui primary icon labeled button right floated" type="submit" id="verify">
            <i class="icon checkmark"></i>{% trans "Verify" %}
        </button>
        <a class="ui negative icon labeled button right floated" href="#" id="needs-correction">
            <i class="icon unhide"></i>{% trans "Needs correction" %}
        </a>
    </form>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/needscorrection.js' %}"></script>
{% endblock %}
