{% extends "common/base.html" %}
{% load i18n %}

{% block head %}
    <style>
        .has-feedback.input-group .form-control-feedback{
            right: 40px;
        }

        .has-error .input-group-btn button {
            border-color: #a94442;
            background: linear-gradient(to bottom, rgba(255, 222, 218, 1) 0%, rgba(198, 132, 132, 1) 100%) repeat scroll 0% 0% transparent;
        }
    </style>
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1>{{ page_title }}
        <small>{% trans "Step 1 of 2: choose the books" %}</small>
    </h1>

    <div class="ui styled fluid accordion" id="accordion">
        <div class="active title">
            <i class="dropdown icon"></i>{% trans "Choose from the list" %}
        </div>
        <div id="bookList" class="active content">
            <div class="responsive-form">
                {% load formfield %}
                {% formfield id="category_filter" label=_("Categories") %}
                    <div class="ui selection dropdown" id="category-filter">
                        <input type="hidden" value="0">
                        <i class="dropdown icon"></i>

                        <div class="default text"></div>
                        <div class="menu">
                            <div class="item" data-value="0">{% trans "All" context "categories" %}</div>
                            <div class="divider"></div>
                            {% for category in category_list %}
                                <div class="item" data-value="{{ category.0 }}">{{ category.1 }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endformfield %}
            </div>

            {% include "book_chooser_wizard/books_book_list.html" %}
        </div>
        {% if feature_add_new %}
            <div class="title">
                <i class="dropdown icon"></i>{% trans "Add new" %}
            </div>
            <div id="addBookForm" class="content ui form">
                <div class="ui info message">
                    {% trans "Before adding a new book, please check whether it is not already present in the list above and is it included in the school textbook list." %}
                    <p>
                        {% trans "Also, we <strong>strongly</strong> recommend entering the ISBN number and clicking the magnifying glass icon next to the input field. The other fields will be automatically filled, so you won't have to do it by hand." %}
                    </p>
                </div>
                {% include "common/default_form.html" %}
                <button class="ui labeled icon button right floated" id="btn-add-new-book">
                    <i class="icon plus"></i>{% trans "Add" %}
                </button>
            </div>
        {% endif %}
    </div>

    <div class="hidden" id="chosen-book-list-div">
        <h2>{% trans "Chosen books" %}</h2>
        {% include "book_chooser_wizard/books_chosen_list.html" with book_list=chosen_book_list %}
    </div>

    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <button class="ui primary right labeled icon button right floated" name="btn-next" disabled="disabled">
            <i class="icon chevron right"></i>{% trans "Next" %}
        </button>
    </form>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script>
        var chosenBooks = {% if chosen_books %}{{ chosen_books|safe }}{% else %}[]{% endif %};
        var currency = '{{ currency|safe }}';
    </script>
    {% if feature_add_new %}
        <script src="{% static "js/jquery_wrapper.js" %}"></script>
        <script src="{% static "js/isbnfinder.js" %}"></script>
    {% endif %}
    <script src="{% static "js/bookchooser.js" %}"></script>
{% endblock %}
