{% extends "books/book_list_base.html" %}
{% load i18n %}

{% block tr_attributes %}
    data-pk="{{ book.pk }}"
    data-categories="{{ book.cat_pks_string }}"
{% endblock %}

{% block thead_footer %}
    {% if feature_books_in_stock %}
        <th>{% trans "In stock" %}</th>
    {% endif %}
{% endblock %}

{% block tr_footer %}
    {% if feature_books_in_stock %}
        <td class="in-stock">{{ book.amount }}</td>
    {% endif %}
{% endblock %}

{% block actions %}
    <button class="btn btn-xs btn-link btn-add-book">
        <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
    </button>
{% endblock %}