{% extends "common/base.html" %}
{% load i18n %}

{% block head %}
    <style>
        .has-feedback.input-group .form-control-feedback{
            right: 40px;
        }

        .has-error .input-group-btn button {
            border-color: #a94442;
            background: linear-gradient(to bottom, rgba(255, 222, 218, 1) 0%, rgba(198, 132, 132, 1) 100%) repeat scroll 0% 0% transparent;
        }
    </style>
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1>{{ page_title }}
        <small>{% trans "Step 2 of 3: choose the books" %}</small>
    </h1>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                           href="#bookList">{% trans "Choose from the list" %}</a></h4>
            </div>
            <div id="bookList" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 col-md-2 control-label"
                                   for="category_filter">{% trans "Categories" %}:</label>

                            <div class="col-sm-9 col-md-10">
                                <select class="form-control" id="category_filter">
                                    <option value="0">{% trans "All" context "categories" %}</option>
                                    <option disabled="disabled">────────</option>
                                    {% for category in category_list %}
                                        <option value="{{ category.pk }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                {% include "book_chooser_wizard/books_book_list.html" %}
            </div>
        </div>
        {% if feature_add_new %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                               href="#addBookForm">{% trans "Add new" %}</a></h4>
                </div>
                <div id="addBookForm" class="panel-collapse collapse">
                    <div class="panel-body form-horizontal">
                        <div class="alert alert-info">
                            {% trans "Before adding a new book, please check whether it is not already present in the list above and is it included in the school textbook list." %}
                            <p>
                                {% trans "Also, we <strong>strongly</strong> recommend entering the ISBN number and clicking the magnifying glass icon next to the input field. The other fields will be automatically filled, so you won't have to do it by hand." %}
                            </p>
                        </div>
                        {% include "common/default_form.html" %}
                        <button class="btn btn-default pull-right" id="btn-add-new-book"><span
                                class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="hidden" id="chosen-book-list-div">
        <h2>{% trans "Chosen books" %}</h2>
        {% include "book_chooser_wizard/books_chosen_list.html" with book_list=chosen_book_list %}
    </div>

    <div class="btn-toolbar">
        <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            <button class="btn btn-default" name="btn-back"><span
                    class="glyphicon glyphicon-chevron-left"></span> {% trans "Back" %}</button>
            <button class="btn btn-primary pull-right" name="btn-next" disabled="disabled">{% trans "Next" %} <span
                    class="glyphicon glyphicon-chevron-right"></span></button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script>
        var chosenBooks = {% if chosen_books %}{{ chosen_books|safe }}{% else %}[]{% endif %};
        var currency = '{{ currency|safe }}';
    </script>
    <script src="{% static "js/bookchooser.js" %}"></script>
    {% if feature_add_new %}
        <script src="{% static "js/isbnfinder.js" %}"></script>
    {% endif %}
{% endblock %}
