{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Add category" %}{% endblock %}

{% block content %}
    <h1>{% trans "Add category" %}</h1>
    {% manage_header "categories/add" %}

    <form class="form-horizontal" method="post" action="">
        {% include 'common/default_form.html' %}
        {% csrf_token %}
        <a href="{% url 'categories.views.index' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
        </a>
        <button type="submit" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
        </button>
    </form>
{% endblock %}