{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Edit category" %}{% endblock %}

{% block content %}
    <h1>{% trans "Edit category" %}</h1>
    {% manage_header "categories/edit" %}

    <form class="form-horizontal" method="post" action="">
        {% include 'common/default_form.html' %}
        {% csrf_token %}
        {% if perms.common.view_categories_index %}
            <a href="{% url 'categories.views.index' %}" class="btn btn-default" role="button"><span
                class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a>
        {% endif %}
        <button type="submit" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-ok"></span> {% trans "Save" %}
        </button>
    </form>
{% endblock %}