{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "List of books in category" %}{% endblock %}

{% block content %}
    <h1>
        {% trans "Categories" %}
        <small>
            {% blocktrans with cat_name=category.name %}List of books in {{ cat_name }} category{% endblocktrans %}
        </small>
    </h1>
    {% manage_header "categories/list" %}

    {% if book_list %}
        {% include 'books/book_list_base.html' with hide_actions=True %}
    {% else %}
        <div class="alert alert-info">{% trans "There's nothing to display." %}</div>
    {% endif %}

    {% if perms.common.view_categories_index %}
        <a href="{% url 'categories.views.index' %}" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-chevron-left"></span> {% trans "Back" %}
        </a>
    {% endif %}
{% endblock %}

