{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Remove category" %}{% endblock %}

{% block content %}
    <h1>{% trans "Remove category" %}</h1>
    {% manage_header "categories/remove" %}

    <div class="alert alert-danger">
        {% blocktrans with cat_name=category.name %}Are you sure you want to delete category {{ cat_name }}?{% endblocktrans %}
        {% if book_count %}
            <strong>
                {% blocktrans count counter=book_count %}Please note that this category still contains {{ book_count }} book.{% plural %}Please note that this category still contains {{ book_count }} books.{% endblocktrans %}
            </strong>
        {% else %}
            {% trans "This category does not contain any books." %}
        {% endif %}
    </div>

    <form method="post" action="">
        {% csrf_token %}
        <a href="{% url 'categories.views.index' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
        </a>
        <button type="submit" class="btn btn-danger pull-right">
            <span class="glyphicon glyphicon-trash"></span> {% trans "Remove" %}
        </button>
    </form>
{% endblock %}