{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block head %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.css">
    <style>
        .has-feedback.input-group .form-control-feedback{
            right: 40px;
        }

        .has-error .input-group-btn button {
            border-color: #a94442;
            background: linear-gradient(to bottom, rgba(255, 222, 218, 1) 0%, rgba(198, 132, 132, 1) 100%) repeat scroll 0% 0% transparent;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Add book" %}{% endblock %}

{% block content %}
    <h1>{% trans "Add book" %}</h1>
    {% manage_header "books/add" %}

    <form class="form-horizontal" action="{{ request.path }}" method="post">
        {% include "common/default_form.html" %}
        {% csrf_token %}
        {% if perms.common.view_books_index %}
            <a href="{% url 'books.views.index' %}" class="btn btn-default" role="button"><span
                class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a>
        {% endif %}
        <button class="btn btn-primary pull-right" type="submit"><span
                class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
        </button>
    </form>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.js"></script>
    <script src="{% static "js/isbnfinder.js" %}"></script>
    <script src="{% static "js/bookeditor.js" %}"></script>
{% endblock %}