{% extends "books/book_list_base.html" %}
{% load i18n %}

{% block actions %}
    {% if perms.common.view_books_edit_book %}
        <a href="{% url 'books.views.edit_book' book.pk %}"><i class="icon edit"></i>{% trans "Edit" %}</a>
    {% endif %}
    {% if perms.common.view_books_remove_book %}
        <a href="{% url 'books.views.remove_book' book.pk %}"><i class="icon trash"></i>{% trans "Remove" %}</a>
    {% endif %}
{% endblock %}

{% block thead_header %}
    {% if perms.common.view_books_remove_book %}
        <th class="collapsing">
            <div class="ui master fitted checkbox">
                <input type="checkbox">
                <label></label>
            </div>
        </th>
    {% endif %}
{% endblock %}

{% block tr_header %}
    {% if perms.common.view_books_remove_book %}
        <td>
            <div class="ui child fitted checkbox">
                <input type="checkbox" name="select-{{ book.pk }}">
                <label></label>
            </div>
        </td>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if perms.common.view_books_remove_book %}
        <tr class="bg-info">
            <td colspan="6" class="right aligned text-muted">{% trans "Bulk actions:" %}</td>
            <td>
                <button class="ui link button" type="submit">
                    <i class="icon trash"></i>{% trans "Remove" %}
                </button>
            </td>
        </tr>
    {% endif %}
{% endblock %}
