{% extends "books/book_list_base.html" %}
{% load i18n %}

{% block table_classes %} sortable{% endblock %}

{% block actions %}
    {% if perms.common.view_books_edit_book %}
        <a href="{% url 'books.views.edit_book' book.pk %}"><i class="icon edit"></i>{% trans "Edit" %}</a>
    {% endif %}
    {% if perms.common.view_books_remove_book %}
        <a href="{% url 'books.views.remove_book' book.pk %}"><i class="icon trash"></i>{% trans "Remove" %}</a>
    {% endif %}
{% endblock %}

{% block thead_header %}
    {% if perms.common.view_books_remove_book %}
        {% include "elements/select-all-checkbox-th.html" %}
    {% endif %}
{% endblock %}

{% block tr_header %}
    {% if perms.common.view_books_remove_book %}
        {% include "elements/select-all-checkbox-td.html" with name="select-" id=book.pk %}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if perms.common.view_books_remove_book %}
        <tr class="bg-info">
            <td colspan="6" class="right aligned text-muted">{% trans "Bulk actions:" %}</td>
            <td>
                <button class="ui link button" type="submit">
                    <i class="icon trash"></i>{% trans "Remove" %}
                </button>
            </td>
        </tr>
    {% endif %}
{% endblock %}
