{% load i18n %}

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            {% block thead_header %}{% endblock %}
            <th>{% trans "Publisher" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>

    {% for book in book_list %}
    <tr>
        {% block tr_header %}{% endblock %}
        <td>{{ book.publisher }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.price_string }}</td>
        <td>
            <div class="btn-toolbar" role="toolbar">
                {% block actions %}{% endblock %}
            </div>
        </td>
    </tr>
    {% endfor %}

    {% block footer %}{% endblock %}
</table>