{% load i18n %}
{% load price %}

<table class="ui selectable table{% block table_classes %}{% endblock %}"{% block table_attributes %}{% endblock %}>
    <thead>
    {% block thead_tr %}{% endblock %}
    <tr>
        {% block thead_header %}{% endblock %}
        <th class="collapsing">{% trans "ISBN" %}</th>
        <th class="collapsing">{% trans "Publisher" %}</th>
        <th>{% trans "Title" %}</th>
        <th class="collapsing">{% trans "Publication" %}</th>
        <th class="collapsing">{% trans "Price" %}</th>
        {% block thead_footer %}{% endblock %}
        {% if not hide_actions %}
            <th>{% trans "Actions" %}</th>
        {% endif %}
    </tr>
    </thead>

    {% for book in book_list %}
        {% block preceding_rows %}{% endblock %}
        <tr{% block tr_attributes %}{% endblock %}>
            {% block tr_header %}{% endblock %}
            <td class="collapsing">{{ book.isbn }}</td>
            <td class="collapsing">{{ book.publisher }}</td>
            <td>
                {% if book.pk and perms.common.view_books_book_details %}
                    <a href="{% url 'books.views.book_details' book.pk %}">{{ book.title }}</a>
                {% else %}
                    {{ book.title }}
                {% endif %}
            </td>
            <td class="collapsing">{{ book.publication_year }}</td>
            <td class="collapsing">{% block book_price %}{{ book.price|price }}{% endblock %}</td>
            {% block tr_footer %}{% endblock %}
            {% if not hide_actions %}
                <td class="collapsing">
                    {% block actions %}{% endblock %}
                </td>
            {% endif %}
        </tr>
        {% block additional_rows %}{% endblock %}
    {% endfor %}

    <tfoot>
        {% block footer %}{% endblock %}
    </tfoot>
</table>
