{% extends "books/book_list_base.html" %}
{% load i18n %}

{% block actions %}
    <a class="btn btn-xs btn-link" href="{% url 'books.views.edit_book' book.pk %}" role="button"><span
            class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}</a>
    <a class="btn btn-xs btn-link" href="{% url 'books.views.remove_book' book.pk %}" role="button"><span
            class="glyphicon glyphicon-remove"></span> {% trans "Remove" %}</a>
{% endblock %}

{% block thead_header %}
    <th><input type="checkbox" id="select-all"></th>
{% endblock %}

{% block tr_header %}
    <td><input type="checkbox" name="select-{{ book.pk }}"></td>
{% endblock %}

{% block footer %}
    <tr class="info">
        <td colspan="6" class="text-right text-muted">{% trans "Bulk actions:" %}</td>
        <td>
            <div class="btn-toolbar" role="toolbar">
                <button class="btn btn-xs btn-link" type="submit"><span
                        class="glyphicon glyphicon-remove"></span> {% trans "Remove" %}</button>
            </div>
        </td>
    </tr>
{% endblock %}