{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}
{% load price %}

{% block title %}{% trans "Book's details" %}{% endblock %}

{% block content %}
    <h1>{% trans "Book's details" %}</h1>
    <div class="details-toolbar">
        {% if perms.common.view_books_edit_book %}
            <a class="ui icon labeled mini button" role="button" href="{% url 'books.views.edit_book' book.pk %}">
                <i class="icon edit"></i>{% trans "Edit" %}
            </a>
        {% endif %}
        {% if perms.common.view_books_remove_book %}
            <a class="ui icon labeled mini button" role="button" href="{% url 'books.views.remove_book' book.pk %}">
                <i class="icon trash"></i>{% trans "Remove" %}
            </a>
        {% endif %}
    </div>
    {% manage_header "books/details" %}

    <div class="responsive-form static-form">
        {% load formfield %}
        {% formfield label=_("ISBN") %}{{ book.isbn }}{% endformfield %}
        {% formfield label=_("Title") %}{{ book.title }}{% endformfield %}
        {% formfield label=_("Publisher") %}{{ book.publisher }}{% endformfield %}
        {% formfield label=_("Publication year") %}{{ book.publication_year }}{% endformfield %}
        {% formfield label=_("Price") %}{{ book.price|price }}{% endformfield %}
        {% formfield label=_("Categories") %}
            {% if book.categories_str %}
                {{ book.categories_str }}
            {% else %}
                {% trans "None" %}
            {% endif %}
        {% endformfield %}
    </div>
{% endblock %}
