{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Manage books" %}{% endblock %}

{% block head %}
    <style>
        .ui.table th.isbn {
            text-align: center;
        }

        .ui.table td.merge {
            padding: 0;
        }

        .ui.table td.merge > button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        form {
            margin-bottom: 1em;
        }

        form:last-child {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>
        {% trans "Books" %}
        <small>{% trans "Duplicated" %}</small>
    </h1>
    {% manage_header "books/duplicated" %}

    {% if duplicated %}
        <form method="post" action="">
            {% csrf_token %}
            {% for isbn, l in duplicated.items %}
                {% include "books/duplicated_book_list.html" with book_list=l hide_actions=True %}
            {% endfor %}
        </form>
    {% else %}
        <div class="ui info message">{% trans "There's nothing to display." %}</div>
    {% endif %}

    {% if perms.common.view_books_index %}
        <a class="ui icon labeled button" href="{% url 'books.views.index' %}" role="button">
            <i class="icon chevron left"></i>{% trans "Back" %}
        </a>
    {% endif %}
{% endblock %}
