{% extends "books/book_list_base.html" %}
{% load i18n %}

{% block thead_tr %}
    <tr class="bg-info">
        <th colspan="7" class="isbn">{{ isbn }}</th>
    </tr>
{% endblock %}

{% block thead_header %}
    <th class="collapsing"></th>
    <th class="collapsing"></th>
{% endblock %}

{% block tr_header %}
    {% if perms.common.view_books_remove_book %}
        <td>
            <div class="ui fitted checkbox">
                <input type="checkbox" name="to_merge" value="{{ book.pk }}" checked>
                <label></label>
            </div>
        </td>
        <td>
            <div class="ui fitted radio checkbox">
                <input type="radio" name="merge_dest" value="{{ book.pk }}">
                <label></label>
            </div>
        </td>
    {% endif %}
{% endblock %}

{% block footer %}
    <tr>
        <td colspan="7" class="merge">
            <button type="submit" class="ui fluid button merge" name="merge_isbn" value="{{ isbn }}">
                <i class="icon copy"></i>{% trans "Merge" %}
            </button>
        </td>
    </tr>
{% endblock %}
