{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit book" %}{% endblock %}

{% block content %}
    <h1>{% trans "Edit book" %}</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'managemenu.views.index' %}">{% trans "Manage" %}</a></li>
        <li><a href="{% url 'books.views.index' %}">{% trans "Books" %}</a></li>
        <li class="active">{% trans "Edit" %}</li>
    </ol>

    <form class="form-horizontal" action="{{ request.path }}" method="post">
        {% include "common/default_form.html" %}
        {% csrf_token %}
        <a href="{% url 'books.views.index' %}" class="btn btn-default" role="button"><span
                class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a>
        <button class="btn btn-primary pull-right" type="submit"><span
                class="glyphicon glyphicon-ok"></span> {% trans "Save" %}</button>
    </form>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/isbnfinder.js" %}"></script>
{% endblock %}