{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Edit book" %}{% endblock %}

{% block content %}
    <h1>{% trans "Edit book" %}</h1>
    {% manage_header "books/edit" %}

    <form class="ui form" action="{{ request.path }}" method="post">
        {% include "common/default_form.html" %}
        {% csrf_token %}
        <button class="ui primary icon labeled button right floated" type="submit">
            <i class="icon checkmark"></i>{% trans "Save" %}
        </button>
        {% if perms.common.view_books_index %}
            <a href="{% url 'books.views.index' %}" class="ui icon labeled button" role="button">
                <i class="icon remove"></i>{% trans "Cancel" %}
            </a>
        {% endif %}
    </form>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="{% static "js/jquery_wrapper.js" %}"></script>
    <script src="{% static "js/isbnfinder.js" %}"></script>
{% endblock %}
