{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Manage books" %}{% endblock %}

{% block content %}
    <h1>{% trans "Books" %}</h1>
    {% manage_header "books" %}

    {% if book_list %}
        <form action="{% url 'books.views.bulk_actions' 'remove' %}" method="post">
            {% include "books/book_list_index.html" %}
            {% csrf_token %}
        </form>

    {% else %}
        <div class="ui info message">{% trans "There's nothing to display." %}</div>
    {% endif %}

    <div class="btn-toolbar" role="toolbar">
        {% if perms.common.view_books_add_book %}
            <a class="ui primary icon labeled button right floated" href="{% url 'books.views.add_book' %}" role="button">
                <i class="icon plus"></i>{% trans "Add book" %}
            </a>
        {% endif %}

        {% if perms.common.view_books_duplicated %}
            <a class="ui icon labeled button right floated" href="{% url 'books.views.duplicated' %}" role="button">
                <i class="icon copy"></i>{% trans "Duplicated" %}
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function () {
            $(".table-responsive table").tablesorter();

            $('.ui.checkbox').checkbox('set enabled');
            $('.table .master.checkbox').checkbox({
                onChecked: function () {
                    var $childCheckbox = $(this).closest('.table').find('.checkbox');
                    $childCheckbox.checkbox('check');
                },
                onUnchecked: function () {
                    var $childCheckbox = $(this).closest('.table').find('.checkbox');
                    $childCheckbox.checkbox('uncheck');
                }
            });

            $('.table .child.checkbox').checkbox({
                fireOnInit: true,
                onChange: function () {
                    var $listGroup = $(this).closest('.table'),
                            $parentCheckbox = $listGroup.find('th .master.checkbox'),
                            $checkbox = $listGroup.find('.checkbox').not('.master'),
                            allChecked = true,
                            allUnchecked = true;

                    $checkbox.each(function () {
                        if ($(this).checkbox('is checked')) {
                            allUnchecked = false;
                        } else {
                            allChecked = false;
                        }
                    });
                    if (allChecked) {
                        $parentCheckbox.checkbox('set checked');
                    } else if (allUnchecked) {
                        $parentCheckbox.checkbox('set unchecked');
                    } else {
                        $parentCheckbox.checkbox('set indeterminate');
                    }
                }
            });
        });
    </script>
{% endblock %}
