{% extends "common/base.html" %}
{% load i18n %}
{% load manage_header %}

{% block title %}{% trans "Manage books" %}{% endblock %}

{% block content %}
    <h1>{% trans "Books" %}</h1>
    {% manage_header "books" %}

    {% if book_list %}
        <form action="{% url 'books.views.bulk_actions' 'remove' %}" method="post">
            {% include "books/book_list_index.html" %}
            {% csrf_token %}
        </form>

    {% else %}
        <div class="ui info message">{% trans "There's nothing to display." %}</div>
    {% endif %}

    <div class="btn-toolbar" role="toolbar">
        {% if perms.common.view_books_add_book %}
            <a class="ui primary button pull-right" href="{% url 'books.views.add_book' %}" role="button">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add book" %}
            </a>
        {% endif %}

        {% if perms.common.view_books_duplicated %}
            <a class="ui button pull-right" href="{% url 'books.views.duplicated' %}" role="button">
                <span class="glyphicon glyphicon-random"></span> {% trans "Duplicated" %}
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            $(".table-responsive table").tablesorter();

            $("input[name^='select-']").on('change', function () {
                $(this).closest($('tr')).toggleClass('active', this.checked);
            });

            $("input#select-all").on('change', function () {
                $("input[name^='select-']").prop('checked', this.checked);
                $("input[name^='select-']").closest($('tr')).toggleClass('active', this.checked);
            });
        });
    </script>
{% endblock %}
