{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Manage books" %}{% endblock %}

{% block content %}
    {% if book_list|length == 1 %}
        <h1>{% trans "Remove book" %}</h1>
    {% else %}
        <h1>{% trans "Remove books" %}</h1>
    {% endif %}
    <ol class="breadcrumb">
        <li><a href="{% url 'managemenu.views.index' %}">{% trans "Manage" %}</a></li>
        <li><a href="{% url 'books.views.index' %}">{% trans "Books" %}</a></li>
        <li class="active">{% trans "Usuń" %}</li>
    </ol>

    {% if book_list|length == 1 %}
        <div class="alert alert-danger">{% trans "Are you sure you want to remove this book?" %}</div>
    {% else %}
        <div class="alert alert-danger">{% trans "Are you sure you want to remove these books?" %}</div>
    {% endif %}
    {% include "books/book_list_base.html" with hide_actions=True %}
    <form action="{{ request.path }}" method="post">
        <a href="{% url 'books.views.index' %}" class="btn btn-default" role="button"><span
                class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a>
        <button type="submit" class="btn btn-danger pull-right"><span
                class="glyphicon glyphicon-trash"></span> {% trans "Remove" %}</button>
        {% csrf_token %}
    </form>
{% endblock %}